*{
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    list-style: none;
}
  a{
    text-decoration: none;
}
li{
		list-style-type: none;
}
.container{
	width: 100%;
	height: 2000px;
}
.header{
	width: 1006px;
	height: 139px;
	margin: 0px auto;

}
.logo_1{
	float: left;
	margin-top: 30px;
	width: 102px;
}
.nav_article{
	float: left;
	font-family: myFont2;
	color: #02C39A;
	margin-left: 105px;
	font-size: 31px;
	margin-top: 88px;
	letter-spacing: 3px;
}
.nav_essey{
	font-family: myFont2;
	color: #02C39A;
	float: left;
	font-size: 31px;
	margin-left: 105px;
	margin-top: 88px;
	letter-spacing: 3px;
}
.search_box{
	width: 257px;
	height: 42px;
	border: 2px solid #C9C9C9;
	border-radius: 12px;
	margin-top: 76px;
	float: left;
	position: relative;
	margin-left: 130px;

}
.search_box_input{
	width: 211px;
	height: 39px;
	color: #C9C9C9;
	outline: none;
	border: 1px solid white;
	position: absolute;
	left: 10px;
}
.search_box_button{
	width: 43px;
	height: 42px;
	background-image: url(../images/search_button.png);
	background-repeat: no-repeat;
	background-position: center;
	outline: none;
	border :none;
	border-left: 3px solid #C9C9C9;
	position: absolute;
	right: 6px;
	top: 0px;
	background-color: white;
}
.nav_log_reg{
	width: 90px;
	height: 20px;
	margin-left:19px;
	margin-top: 96px;
	color: #B4D2BA;
	font-family: myFont2; 
	float: left;
}
.login_a{
	margin-right: 18px;
	font-size: 21px;
	color: #B4D2BA;
	font-family: myFont2; 
}
.login:hover{
	cursor: pointer;
}
.registration_a{
	font-size: 21px;
	color: #B4D2BA;
	font-family: myFont2; 
}
.registration:hover{
	cursor: pointer;
}
.nav_menu{
	float: left;
	width: 144px;
	height: 30px;
	margin-top: 91px;
	margin-left: 256px;
	vertical-align: middle;
	/*display: inline-block;*/
}
.nav_menu img{
	/*margin-top: 10px;*/
	vertical-align: middle;
}
.nav_menu span{
	vertical-align: middle;
}
.nav_menu_word{
	color: #02C39A;
	font-size: 30px;
	margin-left: 12px;
	font-family: myFont2;
}
.body{
	width: 100%;
	height: 1671px;
}
.body_top{
	width: 100%;
	height: 81px;
	background-color: #EDF4ED;
	/*position: fixed;*/
}
.body_top_inner{
	width: 1006px;
	margin:0px auto;

}
.body_top_nav_1{
	width: 168px;
	height: 81px;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 81px;
	letter-spacing: 2px;
	position: relative;

}
.body_top_nav_2{
	width: 167px;
	height: 81px;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 81px;
	letter-spacing: 2px;
}
.body_top_nav_3{
	width: 167px;
	height: 81px;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 81px;
	letter-spacing: 2px;
}
.body_top_nav_4{
	width: 167px;
	height: 81px;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 81px;
	letter-spacing: 2px;
}
.body_top_nav_5{
	float: left;
	height: 81px;
	width: 167px;
	list-style: none;
	text-align: center;
	line-height: 81px;
	letter-spacing: 2px;
}
.body_top_nav_6{
	width: 167px;
	height: 81px;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 81px;
	letter-spacing: 2px;
}
.body_top_nav_a_1{
	text-decoration: none;
	color: #187B8C;
	font-size: 18px;
}
.body_top_nav_a_2{
	text-decoration: none;
	color: #187B8C;
	font-size: 18px;
}
.body_top_nav_a_3{
	color: #187B8C;
	text-decoration: none;
	font-size: 18px;
}
.body_top_nav_a_4{
	color: #187B8C;
	text-decoration: none;
	font-size: 18px;
}
.body_top_nav_a_5{
	color: #187B8C;
	text-decoration: none;
	font-size: 18px;
}
.body_top_nav_a_6{
	color: #187B8C;
	text-decoration: none;
	font-size: 18px;
}
.body_top_nav_arrow{

/*	bottom: -25px;
	left: 43%;*/
	margin-top: -55px;

}
.body_middle{
	width: 100%;
	height: 1633px;
	background-color: #F7F7F7;
}
.body_middle_inner{
	width: 1004px;
	margin: 0px auto;
	border:1px solid #F7F7F7;

}
.body_middle_article_1{
	width: 1004px;
	height: 247px;
	margin-top: 52px;
	list-style-type: none;
	background-color: white;
	position: relative;
}
.body_middle_article_2,.body_middle_article_3,.body_middle_article_4,.body_middle_article_5{
	width: 1004px;
	height: 247px;
	margin-top: 54px;
	list-style-type: none;
	background-color: white;
	position: relative;
}
.body_middle_article_left_1,.body_middle_article_left_2,.body_middle_article_left_3,.body_middle_article_left_4,.body_middle_article_left_5{
/*	position: absolute;
	top: 20px;
	left: 39px;*/
	width: 325px;
	height: 201px;
	float: left;
	margin-left: 39px;
	margin-top: 20px;
	margin-right: 44px;

}
.body_middle_article_left_1 img,.body_middle_article_left_2 img,.body_middle_article_left_3 img,.body_middle_article_left_4 img,.body_middle_article_left_5 img{
	width: 325px;
	height: auto;
}
.body_middle_article_right_1,.body_middle_article_right_2,.body_middle_article_right_3,.body_middle_article_right_4,.body_middle_article_right_5{
	float: left;
	width: 563px;
}
.body_middle_article_title_1,.body_middle_article_title_2,.body_middle_article_title_3,.body_middle_article_title_4,.body_middle_article_title_5{
	width: 139px;
	height: 20px;
	font-size: 20px;
	letter-spacing: 2px;
	color: #333333;
	margin-top: 20px;
	margin-bottom: 20px;

}
.body_middle_article_info_1,.body_middle_article_info_2,.body_middle_article_info_3,.body_middle_article_info_4,.body_middle_article_info_5{
	width: 562px;
	height: 73px;
	font-size: 16px;
	letter-spacing: 1px;
	color: #333333;
	margin-top: 26px;
}
.body_middle_article_author_1,.body_middle_article_author_2,.body_middle_article_author_3,.body_middle_article_author_4,.body_middle_article_author_5{
	width: 86px;
	height: 17px;
	font-size: 16px;

	letter-spacing: 1px;
	color: #187b8c;


}
.body_middle_article_publishtime_1{
	width: 126px;
	height: 15px;
	font-size: 16px;
	letter-spacing: 1px;
	color: #666666;
	margin-left: 10px;
}
.body_middle_article_grade_1,.body_middle_article_grade_2,.body_middle_article_grade_3,.body_middle_article_grade_4,.body_middle_article_grade_5{
	width: 110px;
	height: 17px;
	position: absolute;
	left:217px;
	top: 205px;
}
.body_middle_article_grade_word_1,.body_middle_article_grade_word_2,.body_middle_article_grade_word_3,.body_middle_article_grade_word_4,.body_middle_article_grade_word_5{
	color: #333333;
	font-size: 16px;
	letter-spacing: 1px;
}
.body_middle_article_grade_num_1,.body_middle_article_grade_num_2,.body_middle_article_grade_num_3,.body_middle_article_grade_num_4,.body_middle_article_grade_num_5{
	color: #187B8C;
	font-size: 16px;
	letter-spacing: 1px;
	margin-left: 5px;
}
.body_middle_article_like_1,.body_middle_article_like_2,.body_middle_article_like_3,.body_middle_article_like_4,.body_middle_article_like_5{
	width: 25px;
	height: 22px;
	position: absolute;
	right: 86px;
	bottom: 26px;
}
.body_middle_article_like_1 img,.body_middle_article_like_2 img,.body_middle_article_like_3 img,.body_middle_article_like_4 img,.body_middle_article_like_5 img{
	width: 25px;
	height: 22px;

}
.body_middle_article_like_1:hover,.body_middle_article_like_2:hover,.body_middle_article_like_3:hover,.body_middle_article_like_4:hover,.body_middle_article_like_4:hover{
cursor: pointer;
}

.body_middle_article_share_1,.body_middle_article_share_2,.body_middle_article_share_3,.body_middle_article_share_4,.body_middle_article_share_5{
	position: absolute;
	right: 38px;
	bottom: 26px;
	width: 24px;
	height: 25px;
}
.body_middle_article_share_1:hover,.body_middle_article_share_2:hover,.body_middle_article_share_3:hover,.body_middle_article_share_4:hover,.body_middle_article_share_5:hover{
cursor: pointer;
}
.body_middle_article_share_1 img,.body_middle_article_share_2 img,.body_middle_article_share_3 img,.body_middle_article_share_4 img,.body_middle_article_share_5 img{
	width: 24px;
	height: 25px;
}

.body_middle_article_detail_1,.body_middle_article_detail_2,.body_middle_article_detail_3,.body_middle_article_detail_4,.body_middle_article_detail_5{
	width: 97px;
	height: 57px;
	line-height: 57px;
	border-radius: 7px;
	color: white;
	font-size: 16px;
	text-align: center;
	background-color: #02C39A;
	position: absolute;
	right: 73px;
	bottom: 31px;
}
.body_middle_article_detail_1:hover,.body_middle_article_detail_2:hover,.body_middle_article_detail_3:hover,.body_middle_article_detail_4:hover,.body_middle_article_detail_5:hover{
	cursor: pointer;
	}
.body_middle_article_detail_a_1,.body_middle_article_detail_a_2,.body_middle_article_detail_a_3,.body_middle_article_detail_a_4,.body_middle_article_detail_a_5{
	color: white;
}

.body_middle_article_grade_star_inside{
	float: left;
}
.body_middle_article_grade_star_1,.body_middle_article_grade_star_2,.body_middle_article_grade_star_3,.body_middle_article_grade_star_4,.body_middle_article_grade_star_5{
	position: absolute;
	left: 125px;
	bottom: 0px;
	width: 135px;
	height: 18px;
}
.body_bottom_page{
	width: 351px;
	margin:0px auto;
	font-size: 20px;
	line-height: 36px;
	letter-spacing: 2px;
	color: #347898;
	margin-top: 59px;
}
.first_page{
	margin-left: 78px;
	margin-right: 78px;
}
.last_page_tip{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 80px;
	color: #ffffff;
	background-color: rgba(0,168,150,0.7);
	text-align: center;
	line-height: 80px;
	font-size: 26px;
	margin-left: -175px;
	margin-top: -40px;
}
.first_page_tip{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 80px;
	color: #ffffff;
	background-color: rgba(0,168,150,0.7);
	text-align: center;
	line-height: 80px;
	font-size: 26px;
	margin-left: -175px;
	margin-top: -40px;
}
.article_save_tip{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 80px;
	color: #ffffff;
	background-color: rgba(0,168,150,0.7);
	text-align: center;
	line-height: 80px;
	font-size: 18px;
	margin-left: -175px;
	margin-top: -40px;
	z-index: 99;
}

@media screen and (max-width: 1006px){
	.nav_menu{
		margin-left: 230px;
	}
	.body_top_inner{
		width: 980px;
	}
	.body_top_nav_1,.body_top_nav_2,.body_top_nav_3,.body_top_nav_4,.body_top_nav_5,.body_top_nav_6{
		width: 163px;
	}
	.body_middle_article_1,.body_middle_article_2,.body_middle_article_3,.body_middle_article_4,.body_middle_article_5{
		width: 980px;
	}
	.body_middle_article_right_1, .body_middle_article_right_2, .body_middle_article_right_3, .body_middle_article_right_4, .body_middle_article_right_5{
		margin-left: -20px;
	}
	.body_middle_inner{
		width: 980px;
	}
	.header{
		width: 980px;
	}
}