*{
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    list-style: none;
}
  a{
    text-decoration: none;
}
li{
	list-style-type: none;
}

.container{
	width: 100%;
	height: 2000px;
}
.header{
	width: 1006px;
	height: 139px;
	margin: 0px auto;
	border-bottom: 1px solid rgb(228,228,228);

}
.logo_1{
	float: left;
	margin-top: 30px;
	width: 102px;
}
.logo_1:hover{
	cursor: pointer;
}
.nav_book{
	float: left;
	font-family: myFont2;
	color: #02C39A;
	margin-left: 105px;
	font-size: 31px;
	margin-top: 88px;
	letter-spacing: 3px;
}
.nav_essey{
	font-family: myFont2;
	color: #02C39A;
	float: left;
	font-size: 31px;
	margin-left: 105px;
	margin-top: 88px;
	letter-spacing: 3px;
}
.search_box{
	width: 257px;
	height: 42px;
	border: 2px solid #C9C9C9;
	border-radius: 12px;
	margin-top: 76px;
	float: left;
	position: relative;
	margin-left: 130px;

}
.search_box_input{
	width: 211px;
	height: 39px;
	color: #C9C9C9;
	outline: none;
	border: 1px solid white;
	position: absolute;
	left: 10px;
}
.search_box_button{
	width: 43px;
	height: 42px;
	background-image: url(../images/search_button.png);
	background-repeat: no-repeat;
	background-position: center;
	outline: none;
	border :none;
	border-left: 3px solid #C9C9C9;
	position: absolute;
	right: 6px;
	top: 0px;
	background-color: white;
}
.search_box_button:hover{
	cursor: pointer;
}
.nav_log_reg{
	width: 90px;
	height: 20px;
	margin-left:19px;
	margin-top: 96px;
	color: #B4D2BA;
	font-family: myFont2; 
	float: left;
}
.login_a{
	margin-right: 18px;
	font-size: 21px;
	color: #B4D2BA;
	font-family: myFont2; 
}
.login:hover{
	cursor: pointer;
}
.registration_a{
	font-size: 21px;
	color: #B4D2BA;
	font-family: myFont2; 
}
.registration:hover{
	cursor: pointer;
}
.nav_menu{
	float: left;
	width: 144px;
	height: 30px;
	margin-top: 89px;
	margin-left: 233px;
}
.nav_menu_word{
	color: #02C39A;
	font-size: 30px;
	margin-left: 12px;
	font-family: myFont2;
}
.body_top{
	width: 1006px;
	height: 431px;
	margin:0px auto;
	margin-top: 25px;
}

.body_book_info{
	width: 537px;
	height: 431px;
	float: left;
	position: relative;
}
.body_book_pic{
	width: 281px;
	height: 399px;
	position: absolute;
	left: 0px;
	top: 0px;
	
}

.body_book_word{
	

	width: 222px;
	height: 264px;
	position: absolute;
	top: 0px;
	left: 315px;
}
.body_book_title{

	width: 108px;
	height: 30px;
	font-family:myFont2;
	font-size: 30px;
	letter-spacing: 3px;
	color: #187b8c;
	margin-bottom: 25px;

}
.body_book_author,.body_book_publish,.body_book_prename,.body_book_translator,.body_book_publishyear,.body_book_pages,.body_book_price{
	font-size: 16px;
	letter-spacing: 1px;
	color: #333333;
}
.body_book_comment{
	width: 135px;
	height: 74px;
	background-color: #02c39a;
	border-radius: 10px;
	position: absolute;
	right: 89px;
	bottom: 30px;
	font-size: 18px;
	letter-spacing: 1px;
	color: #ffffff;
	line-height: 74px;
	text-align: center;
}
.body_book_comment:hover{
	cursor: pointer;
}
.body_book_grade{
	width: 218px;
	height: 402px;
	float: right;
}
.body_book_grade_title{
	width: 63px;
	height: 19px;
	font-family: myFont2;
	font-size: 18px;
	letter-spacing: 1px;
	color: #2f8595;
}
.body_book_grade_count{
	width: 78px;
	height: 79px;
	background-color: #00a896;
	position: relative;
	margin-top: 11px;


}
.body_book_grade_count_figure{
	width: 51px;
	height: 23px;
	color: #00a896;
	background-color: white;
	position: absolute;
	left: 14px;
	top: 38px;
	font-weight: 600;
	font-size: 27px;
	line-height: 0px;
	letter-spacing: 2px;
	color: #00a896;
	line-height: 23px;
	text-align: center;
	font-family: Arial-Black;

	
}
.body_book_grade_chart{
	width: 217px;
	height: 164px;
	margin-top: 21px;
}
.body_book_grade_chart_li{
	position: relative;
	margin-bottom: 16px;

	font-size: 18px;

	
	letter-spacing: 1px;
	color: #00a896;
}
.body_book_grade_5{
	width: 135px;
	height: 20px;
	background-color: #ffd596;
	position: absolute;
	left: 42px;
	top: 3px;

}
.body_book_grade_4{
	width: 175px;
	height: 20px;
	background-color: #ffd596;
	position: absolute;
	left: 42px;
	top: 3px;

}
.body_book_grade_3{
	width: 105px;
	height: 20px;
	background-color: #ffd596;
	position: absolute;
	left: 42px;
	top: 3px;

}
.body_book_grade_2{
	width: 175px;
	height: 20px;
	background-color: #ffd596;
	position: absolute;
	left: 42px;
	top: 3px;

}
.body_book_grade_1{
	width: 175px;
	height: 20px;
	background-color: #ffd596;
	position: absolute;
	left: 42px;
	top: 3px;

}
.body_book_grade_other{
	width: 96px;
	height: 30px;
	margin-top: 57px;
}
.body_book_grade_love{
	float: left;
}
.body_book_grade_love img{
	width: 33px;
	height: auto;
	margin-top: 1px;
}
.body_book_grade_love:hover{
	cursor: pointer;
}
.body_book_grade_share{
	float: left;
	margin-left: 28px;
	
}
.body_book_grade_share:hover{
	cursor: pointer;
}
.body_book_grade_share img{
	height: 32px;
	width: auto;
}
.body_book_intro{
	width: 100%;
	height: 323px;
	background-color: #edf4ed;
	/*border: 1px solid #edf4ed;*/

}
.body_book_intro_inner{
	width: 1006px;
	margin:0px auto;
	height: 291px;
	padding-top: 32px;

	/*border: 1px solid #edf4ed;*/
}
/*.body_book_intro_dot_1{
	width: 395px;
	height: auto;
}*/
.body_book_intro_word{

	font-family: myFont2;
	font-size: 30px;
	letter-spacing: 3px;
	line-height: 36px;
	color: #05668d;
	margin:0px 42px 0px 42px;
}
.body_book_intro_p{
	text-indent: 36px;
	width: 1001px;
	height: 163px;
	font-size: 18px;
	line-height: 36px;
	letter-spacing: 1px;
	color: #333333;
	margin-top: 30px;
}
.body_author_intro{
	padding-top: 54px;
	height: 501px;
	width: 1006px;
	margin:0px auto;
}
.body_author_intro_word{
	font-family: myFont2;
	font-size: 30px;
	letter-spacing: 3px;
	line-height: 36px;
	color: #05668d;
	margin:0px 42px 0px 42px;
}
.book_author_pic{
	width: 269px;
	height: 350px;
	float: left;
	margin-top: 47px;
}
.book_author_info{
	float: left;
	width: 675px;
	height: 378px;
	font-size: 18px;
	line-height: 34px;
	letter-spacing: 1px;
	color: #333333;
	text-indent: 25px;
	margin-left: 47px;
	margin-top: 47px;
}
.body_book_bottom{
	width: 100%;
	height: 1397px;
	background-color: #edf4ed;
}
.body_book_bottom_inner{
	width: 1006px;
	height: 1351px;
	margin: 0px auto;
	padding-top: 46px;
}
.book_comment_nav{
	height: 40px;
	width: 1006px;
	margin-top: 20px;
}
.book_comment_nav_time{
	width: 80px;
	height: 40px;
	background-color: #02c39a;
	box-shadow: 0px 2px 6px 0px 
		rgba(0, 0, 0, 0.15);
	border-radius: 7px;
	
	line-height: 40px;
	text-align: center;
	letter-spacing: 1px;
	float: left;
	
}
.book_comment_nav_time:hover{
	cursor: pointer;
}
.book_comment_nav_time_a{
	color: #ffffff;
	font-size: 18px;

}
.book_comment_nav_hot{
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 1px;
	float: left;
}
.book_comment_nav_hot:hover{
	cursor: pointer;
}
.book_comment_nav_hot_a{
	color: #333333;
	font-size: 18px;

}
.book_comment_nav_write{
	width: 142px;
	height: 40px;
	background-color: #02c39a;
	box-shadow: 0px 2px 6px 0px 
		rgba(0, 0, 0, 0.15);
	border-radius: 7px;
	text-align: center;
	letter-spacing: 1px;
	float: right;
	line-height: 40px;
}
.book_comment_nav_write_a{
	color: #ffffff;
	font-size: 18px;
}
.book_writecomment_input{
	width: 1000px;
	height: 275px;
	background-color: #ffffff;
	box-shadow: 0px 2px 6px 0px 
		rgba(0, 0, 0, 0.15);
	margin:0px auto;
	outline: none;
	border:none;
	margin-top: 32px;
	font-size: 22px;
}
.book_comment_pinfen{
	margin-top: 39px;
	float: left;
	position: relative;
	width: 265px;
	height: 29px;
}
.book_comment_pinfen_span{
	width: 87px;
	height: 20px;
	font-size: 20px;
	line-height: 36px;
	letter-spacing: 2px;
	color: #05668d;
}
.book_comment_pinfen_stars{
	
	width: 166px;
	height: 27px;
	position: absolute;
	right: 0px;
	top: 2px;
}
.book_comment_pinfen_star{
	float: left;
	width: 33px;

}
.book_comment_pinfen_star img{
	width: 28px;
	height: 27px;
	
}
.book_comment_publish{
	width: 130px;
	height: 50px;
	background-color: #02c39a;
	border-radius: 10px;
	float: right;
	margin-top: 28px;
	line-height: 50px;
	text-align: center;
}
..book_comment_publish:hover{
	cursor: pointer;
}
.book_comment_publish_a{
	font-size: 20px;
	color: #ffffff;
	letter-spacing: 2px;

}
.body_comment_content{
	width: 1000px;
	height: 150px;
	background-color: #ffffff;
	box-shadow: 0px 2px 6px 0px 
		rgba(0, 0, 0, 0.15);
	margin-top: 43px;
	position: relative;
}

.body_comment_content_pic{
	width: 73px;
	height: 73px;
	border-radius: 36.5px;
	background-color: #05668d;
	position: absolute;
	top: 32px;
	left: 33px;
	background-image: url(../images/head_pic.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.body_comment_content_id{
	font-size: 20px;
	line-height: 36px;
	letter-spacing: 2px;
	color: #05668d;
	position: absolute;
	top: 23px;
	left: 128px;
}
.body_comment_star{
	width: 135px;
	height: 27px;
	position: absolute;
	top: 30px;
	left: 245px;
}
.body_comment_stars{
	float: left;
}
.body_comment_content_time{
	font-size: 20px;
	letter-spacing: 2px;
	color: #333333;
	position: absolute;
	right: 49px;
	top: 29px;
}
.body_comment_content_word{
	width: 806px;
	height: 52px;
	font-size: 16px;
	line-height: 29px;
	letter-spacing: 1px;
	color: #333333;
	position: absolute;
	top: 67px;
	right: 47px;
}
.body_comment_good{
	width: 83px;
	height: 27px;
	position: absolute;
	bottom: 13px;
	right: 44px;
}
.body_comment_good_pic{
	width: 20px;
	height: 19px;
	float: left;
	margin-right: 15px;
}
.body_comment_good_pic img{
	width: 20px;
	height: 20px;
}
.body_comment_good_pic:hover{
	cursor: pointer;
}
.body_comment_good_amount{
	color: #eb0606;
	letter-spacing: 1px;
	font-size: 16px;

}
.body_bottom_page{
	width: 351px;
	margin:0px auto;
	font-size: 20px;
	line-height: 36px;
	letter-spacing: 2px;
	color: #347898;
	margin-top: 31px;
}
.first_page{
	margin-left: 78px;
	margin-right: 78px;
}
.first_page:hover,.last_page:hover,.next_page:hover{
	cursor: pointer;
}
.last_page_tip{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 80px;
	color: #ffffff;
	background-color: rgba(0,168,150,0.7);
	text-align: center;
	line-height: 80px;
	font-size: 26px;
	margin-left: -175px;
	margin-top: -40px;
}
.first_page_tip{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 80px;
	color: #ffffff;
	background-color: rgba(0,168,150,0.7);
	text-align: center;
	line-height: 80px;
	font-size: 26px;
	margin-left: -175px;
	margin-top: -40px;
}

@media screen and (max-width: 1006px){

	.header{
		width: 980px;
	}
	.nav_menu{
		margin-left: 232px;
	}
	.search_box{
		margin-left: 127px;
	}
	.body_top_inner{
		width: 980px;
	}
	.body_top_nav_1,.body_top_nav{
		width: 163px;
	
	}
	.body_middle_book{
		width: 980px;
	}
	.body_middle_book_right{
		margin-left: -20px;
	}
	.body_middle_inner{
		width: 980px;
	}
	.body_top{
		width: 980px;
	}
	.body_book_intro_word,.body_author_intro_word{
		margin-left: 30px;
		margin-right: 30px;
	}
	.body_book_intro_inner{
		width: 980px;
	}
	.body_book_intro_p{
		width: 976px;
	}
	.body_author_intro{
		width: 980px;
	}
	.book_author_info{
		width: 660px;
	}
	.book_comment_nav,.book_writecomment_input,.body_book_bottom_inner{
		width: 980px;
	}
	.body_comment_content{
		width: 980px;
	}


}