*{
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    list-style: none;
}
 a{
    text-decoration: none;
}
li{
	list-style-type: none;
}
.container{
	width: 100%;
	height: 960px;

}
.body{
	width: 100%;
	height: 1442px;


	height: 960px;


	background-image: url(../images/regist_and.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top: 1px solid white; 
	overflow: hidden;

}
.logo_2{
	width: 96px;
	height: 87px;
	margin: 0px auto;
	margin-top: 48px;
	margin-bottom: 34px;
}
h3{
	letter-spacing: 2px;
	text-align: center;
	color: #F7F7F7;
	font-size: 32px;
	font-family: myFont2;
}
.login_form{
	width: 800px;
	height: 535px;
	
	background-color: white;
	margin:0px auto;
	margin-top: 50px;
}
.login_form_login{
	width: 400px;
	height: 88px;
	line-height: 88px;
	text-align: center;
	float: left;
	color: #00A896;
	font-size: 20px;
	letter-spacing: 1px;

}
.login_form_a_login,.login_form_a_regist{
	color: #00A896;
}
.login_form_regist{
	width: 400px;
	height: 88px;
	line-height: 88px;
	text-align: center;
	float: left;
	background-color:rgb(240,240,240);
	color: #00A896;
	font-size: 20px;
	letter-spacing: 1px;
}
.login_form_inner{
	width: 410px;
	height: 250px;
	
	margin:0px auto;
	margin-top: 49px;
}

.login_form_name{

	margin-bottom:12px;



}
.login_form_name_word{
	width: 89px;
	height: 49px;
	line-height: 49px;
	float: left;
	margin-right: 2px;

	font-size: 20px;
	color: #00A896;
	letter-spacing: 2px;
}
.login_form_name_input{
	height: 50px;
	width: 310px;
	border: 2px solid #D9D9D9;
	border-radius: 10px;
	font-size: 20px;
	padding-left: 4px;
}
.regist_form_code_forget{
	margin-left: 320px;
	
}
.regist_form_code_forget_a{
	color: #05668D;
	font-size: 14px;
}
.login_form_code{
	margin-top: 9px;
}
.login_form_code_word{
	width: 89px;
	height: 50px;
	line-height: 52px;
	float: left;
	margin-right: 2px;
	font-size: 20px;
	color: #00A896;40
	margin-left: 5px;
	letter-spacing: 2px;
}
.login_form_code_input{
	height: 50px;
	width: 310px;
	border: 2px solid #D9D9D9;
	border-radius: 10px;
	font-size: 20px;
	padding-left: 4px;
}
.login_form_verify_word{
	width: 89px;
	height: 49px;
	line-height: 49px;
	float: left;
	margin-right: 2px;
	font-size: 20px;
	color: #00A896;
	letter-spacing: 2px;
}
.login_form_verify_input{
	height: 50px;
	width: 151px;
	border: 2px solid #D9D9D9;
	border-radius: 10px;
	font-size: 20px;
	padding-left: 4px;
	float: left;
}
.login_form_verify{
	margin-top: 40px;
}
.login_form_verify_image{
	width: 125px;
	height: 54px;
	margin-left: 35px;
	float: left;
	background-image: url(../images/code.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.login_form_verify_image:hover{
	cursor: pointer;
}
.login_form_verify_button{
	width: 410px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #02C39A;
	margin: 0px auto;
	margin-top: 45px;
	font-size: 20px;
	letter-spacing: 1px;
	color: white;
}
.login_form_verify_button:hover{
	cursor: pointer;
}