
*{
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    list-style: none;
}
a{
    text-decoration: none;
}
li{
	list-style-type: none;
}
.container{
	width: 1920px;
	height: 1422px;
	background-color: rgba(255, 255, 255, 0.5);
	background-image: url(../images/personal_back.png);
}
.container_inner{
	width: 1000px;
	height: 1422px;
	margin:0px auto;
}
.personal_nav_logo{
	float: left;
	margin-top: 47px;
}
.personal_nav_title{
	float: right;

	font-size: 30px;
	letter-spacing: 3px;
	color: #ffffff;
	margin-top: 101px;
}
.personal_body{
	width: 1000px;
	height: 902px;
	margin:0px auto;
	position: relative;
	margin-top: 27px;
}
.personal_body_perinfo{
	width: 243px;
	height: 157px;
	background-color: #ffffff;
	border-radius: 10px;
	
	position: absolute;
	top: 0px;
	left: 0px;
}
.personal_body_menu{
	width: 243px;
	height: 180px;
	background-color: #ffffff;
	border-radius: 10px;
	position: absolute;
	top: 190px;
	left: 0px;
}

.personal_body_arrow_1{
	position: absolute;
	top: 410px;
	left: 257px;
}
.personal_bofy_perinfo_pic{
	width: 34px;
	height: 34px;
	border-radius: 17px;
	background-image: url(../images/head_pic.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 24px;
	left: 26px;
}
.personal_body_perinfo_name{

	font-size: 18px;
	letter-spacing: 1px;
	color: #333333;
	position: absolute;
	top: 32px;
	left: 81px;
}
.personal_body_perinfo_sex{
	width: 22px;
	height: 22px;
	position: absolute;
	top: 32px;
	right: 34px;

}
.personal_body_perinfo_write{
	width: 32px;
	height: 32px;
	position: absolute;
	top: 79px;
	left: 27px;
}
.personal_body_perinfo_words{
	width: 123px;
	height: 38px;
	font-size: 15px;
	letter-spacing: 1px;
	color: #333333;
	position: absolute;
	top: 78px;
	right: 40px;
}

.personal_body_save_books{
	width: 243px;
	height: 33px;
	background-color: #f7f7f7;
	line-height: 33px;
	margin-top: 20px;
}
.personal_body_save_books:hover{
	cursor: pointer;
}
.personal_body_save_books_span{
	width: 92px;
	height: 15px;
	font-size: 14px;
	display: block;
	letter-spacing: 1px;
	color: #333333;
	margin-left: 29px;
	float: left;
}
.personal_body_save_articles_img{
	margin-top: 7px;
	margin-left: 75px;
}
.personal_body_save_articles{
	width: 243px;
	height: 33px;
	background-color: #f7f7f7;
	line-height: 33px;
	margin-top: 20px;
}
.personal_body_save_articles:hover{
	cursor: pointer;
}
.personal_body_save_articles_span{
	width: 92px;
	height: 15px;
	font-size: 14px;
	display: block;
	letter-spacing: 1px;
	color: #333333;
	margin-left: 29px;
	float: left;
}
.personal_body_save_books_img{
	margin-top: 7px;
	margin-left: 75px;
}
.personal_body_save_comment{
	width: 243px;
	height: 33px;
	background-color: #f7f7f7;
	line-height: 33px;
	margin-top: 20px;
}
.personal_body_save_comment:hover{
	cursor: pointer;
}
.personal_body_save_comment_span{
	width: 92px;
	height: 15px;
	font-size: 14px;
	display: block;
	letter-spacing: 1px;
	color: #333333;
	margin-left: 29px;
	float: left;
}
.personal_body_save_comment_img{
	margin-top: 7px;
	margin-left: 75px;
}
.personal_body_write{
	width: 242px;
	height: 56px;
	line-height: 56px;
	background-color: #f7f7f7;
	border-radius: 10px;
	position: absolute;
	top: 401px;
	left: 0px;
}

.personal_body_write_span{
	font-size: 14px;
	display: block;
	letter-spacing: 1px;
	color: #333333;
	margin-left: 29px;
	float: left;
}

.personal_body_write_article{
	width: 716px;
	height: 896px;
	background-color: #ffffff;
	border-radius: 10px;
	position: absolute;
	top: 0px;
	right: 0px;
}
.personal_body_write_img{
	margin-top: 18px;
	width: 20px;
	height: auto;
	margin-left: 89px;

}
.personal_body_write_title{
	width: 716px;
	height: 100px;
}
.personal_body_write_title_input{
	width: 536px;
	height: 100px;
	outline: none;
	border:1px solid #ffffff;
	border-radius: 10px;
	font-size: 30px;
	letter-spacing: 3px;
	color: #333333;
	margin-left: 90px;
}
.personal_body_write_add_img{
	width: 716px;
	height: 139px;
	background-color: #f7f7f7;
	position: relative;
}
.personal_body_write_add_img_tip{
	position: absolute;
	top: 59px;
	left: 90px;
	width: 250px;
	height: 29px;
	font-size: 30px;
	letter-spacing: 3px;
	color: rgba(191, 191, 191, 0.68);
}
.personal_body_write_content{
	height: 657px;
	width: 716px;
	position: relative;

}
.personal_body_write_content_text{
	height: 637px;
	width: 536px;
	outline: none;
	border:1px solid #ffffff;
	border-radius: 10px;
	font-size: 20px;
	letter-spacing: 2px;
	color: #333333;
	margin-left: 90px;
	text-indent: 20px;
	margin-top: 20px;

}
.personal_body_write_content_tip{
	position: absolute;
	top: 20px;
	left: 90px;
	font-size: 20px;
	letter-spacing: 2px;
	/*display: none;*/
}