
*{
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    list-style: none;
}
a{
    text-decoration: none;
}
li{
	list-style-type: none;
}
.container{
	width: 100%;
	height: 1422px;
	background-color: rgba(255, 255, 255, 0.5);
	background-image: url(../images/personal_back.png);
}
.container_inner{
	width: 1000px;
	height: 1239px;
	margin:0px auto;
}
.personal_nav_logo{
	float: left;
	margin-top: 47px;
}
.personal_nav_logo:hover{
	cursor: pointer;
}
.personal_nav_title{
	float: right;

	font-size: 30px;
	letter-spacing: 3px;
	color: #ffffff;
	margin-top: 101px;
}
.personal_body{
	width: 1000px;
	height: 902px;
	margin:0px auto;
	position: relative;
	margin-top: 27px;
}
.personal_body_perinfo{
	width: 243px;
	height: 157px;
	background-color: #ffffff;
	border-radius: 10px;
	
	position: absolute;
	top: 0px;
	left: 0px;
}
.personal_body_menu{
	width: 243px;
	height: 233px;
	background-color: #ffffff;
	border-radius: 10px;
	position: absolute;
	top: 190px;
	left: 0px;
}

.personal_body_arrow_1{
	position: absolute;
	top: 210px;
	left: 258px;
}
.personal_bofy_perinfo_pic{
	width: 34px;
	height: 34px;
	border-radius: 17px;

	position: absolute;
	top: 30px;
	left: 26px;
	overflow: hidden;
}
.personal_bofy_perinfo_pic img{
	width: 34px;
	height: auto;
}
.personal_body_perinfo_name{

	font-size: 18px;
	letter-spacing: 1px;
	color: #333333;
	position: absolute;
	top: 32px;
	left: 81px;
}
.personal_body_perinfo_sex{
	width: 22px;
	height: 22px;
	position: absolute;
	top: 32px;
	right: 34px;

}
.personal_body_perinfo_write{
	width: 32px;
	height: 32px;
	position: absolute;
	top: 79px;
	left: 27px;
}
.personal_body_perinfo_words{
	width: 123px;
	height: 38px;
	font-size: 11px;
	letter-spacing: 1px;
	color: #333333;
	position: absolute;
	top: 78px;
	right: 40px;
		overflow: hidden;
	background-color: white;
	border: none;
}
.personal_body_perinfo_words:hover{
	cursor: pointer;
}
.personal_body_save_books{
	width: 243px;
	height: 33px;
	/*background-color: #f7f7f7;*/
	line-height: 33px;
	margin-top: 20px;
}
.personal_body_save_books a{
	width: 243px;
	height: 33px;
	display: block;
	/*background-color: #f7f7f7;*/
/*	line-height: 33px;
	margin-top: 20px;*/
}
.personal_body_save_books:hover{
	cursor: pointer;
}
.personal_body_save_books_span{
	width: 92px;
	height: 15px;
	font-size: 14px;
	display: block;
	letter-spacing: 1px;
	color: #333333;
	margin-left: 29px;
	float: left;
}
.personal_body_save_articles_img{
	margin-top: 7px;
	margin-left: 75px;
}
.personal_body_save_articles{
	width: 243px;
	height: 33px;
	/*background-color: #f7f7f7;*/
	line-height: 33px;
	margin-top: 20px;
}
.personal_body_save_articles a{
	width: 243px;
	height: 33px;
	display: block;
	/*background-color: #f7f7f7;*/
	/*line-height: 33px;
	margin-top: 20px;*/
}
.personal_body_save_articles:hover{
	cursor: pointer;
}
.personal_body_save_articles_span{
	width: 92px;
	height: 15px;
	font-size: 14px;
	display: block;
	letter-spacing: 1px;
	color: #333333;
	margin-left: 29px;
	float: left;
}
.personal_body_save_books_img{
	margin-top: 7px;
	margin-left: 75px;
}
.personal_body_save_comment{
	width: 243px;
	height: 33px;
	/*background-color: #f7f7f7;*/
	line-height: 33px;
	margin-top: 20px;
}
.personal_body_save_comment a{
	width: 243px;
	height: 33px;
	display: block;
	/*background-color: #f7f7f7;*/
	/*line-height: 33px;
	margin-top: 20p*/x;
}
.personal_body_save_comment:hover{
	cursor: pointer;
}
.personal_body_save_comment_span{
	width: 92px;
	height: 15px;
	font-size: 14px;
	display: block;
	letter-spacing: 1px;
	color: #333333;
	margin-left: 29px;
	float: left;
}
.personal_body_save_comment_img{
	margin-top: 7px;
	margin-left: 75px;
}
.personal_body_personal_article{
	width: 243px;
	height: 33px;
	/*background-color: #f7f7f7;*/
	line-height: 33px;
	margin-top: 20px;
}
.personal_body_personal_article a{
	width: 243px;
	height: 33px;
	display: block;
	/*background-color: #f7f7f7;*/
	/*line-height: 33px;*/
	/*margin-top: 20px;*/
}
.personal_body_personal_article:hover{
	cursor: pointer;
}
.personal_body_personal_article_span{
	width: 92px;
	height: 15px;
	font-size: 14px;
	display: block;
	letter-spacing: 1px;
	color: #333333;
	margin-left: 29px;
	float: left;
}
.personal_body_personal_article_img{
	margin-top: 7px;
	margin-left: 75px;
}
.personal_body_write{
	width: 242px;
	height: 56px;
	line-height: 56px;
	background-color: #f7f7f7;
	border-radius: 10px;
	position: absolute;
	top: 456px;
	left: 0px;
}
.personal_body_write_a{ 
	width: 242px;
	height: 56px;
	display: block;
	/*line-height: 56px;
	background-color: #f7f7f7;
	border-radius: 10px;
	position: absolute;
	top: 401px;
	left: 0px;*/
}

.personal_body_write_span{
	font-size: 14px;
	display: block;
	letter-spacing: 1px;
	color: #333333;
	margin-left: 29px;
	float: left;
}

.personal_body_save_book_content{
	width: 716px;
	height: 896px;
	background-color: #ffffff;
	border-radius: 10px;
	position: absolute;
	top: 0px;
	right: 0px;
	overflow: auto;
}
.personal_body_save_book_inner{
	margin:0 auto;
	width: 568px;
	margin-top: 50px;
}

.personal_body_save_book_1{
	position: relative;
	float: left;
	margin-left: 40px;
}
.personal_body_save_book_pic_1_div{
	width: 112px;
	height: 157px;
	overflow: hidden;
}

.personal_body_save_book_1{
	margin-left: 0px;
}
.personal_body_save_book_pic_1{
	width: 112px;
	height: 157px;
}
.personal_body_save_book_title_1{
	font-size: 14px;
	letter-spacing: 1px;
	width: 110px;
	margin-left: 1px;
}
.personal_body_save_book_more_1{

	position: absolute;
	top: 0px;
	right: 0px;
	width: 33px;
	height: 157px;
	background-color: #00A896;
	opacity: 0.6;
}
.personal_body_save_book_more_1 img{
	width: 22px;
	height: 22px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -11px;
	margin-top: -11px;
}
.personal_body_save_book_more_1 img:hover{
	cursor: pointer;
}
.personal_body_save_book_del_1{
	background-color: rgba(0,168,150,0.65);
	width: 70px;
	height: 40px;
	color: white;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	margin:0px auto;
	border-radius: 7px;
	margin-top: 26px;
}
.personal_body_save_book_del_1:hover{
	cursor: pointer;
}
.personal_body_save_book_detail_1{
	background-color: rgba(0,168,150,0.65);
	width: 70px;
	height: 40px;
	color: white;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	margin:0px auto;
	border-radius: 7px;
	margin-top: 20px;
}
.personal_body_save_book_detail_1 a{
	color: white;
}
.personal_body_save_book_detail_1:hover{
	cursor: pointer;
}
.personal_body_save_book_add{
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 40px;
	height: 30px;
	background-color: #f7f7f7;
	background-color: rgba(224,227,225,0.8);
	border-radius: 7px;
	line-height: 25px;
	font-size: 28px;
	color: white;
	text-align: center;
}
.personal_body_save_book_add:hover{
	cursor: pointer;
}
.personal_body_save_book_add a{
	color: white;
}
.personal_body_write_img{
	margin-top: 18px;
	width: 20px;
	height: auto;
	margin-left: 89px;

}
.personal_body_write_title{
	width: 716px;
	height: 100px;
}
.personal_body_write_title:hover{
	cursor: pointer;
}
.personal_body_write_title_input{
	width: 536px;
	height: 100px;
	outline: none;
	border:1px solid #ffffff;
	border-radius: 10px;
	font-size: 30px;
	letter-spacing: 3px;
	color: #333333;
	margin-left: 90px;
}
.personal_body_write_add_img{
	width: 716px;
	height: 139px;
	background-color: #f7f7f7;
	position: relative;
}
.personal_body_write_add_img:hover{
	cursor: pointer;
}
.personal_body_write_add_img_tip{
	position: absolute;
	top: 50px;
	left: 90px;
	

	font-size: 30px;
	letter-spacing: 3px;
	color: rgba(191, 191, 191, 0.68);
}
.personal_body_write_content{
	height: 657px;
	width: 716px;
	position: relative;

}
.personal_body_write_content:hover{
	cursor: pointer;
}
.personal_body_write_content_text{
	height: 637px;
	width: 536px;
	outline: none;
	border:1px solid #ffffff;
	border-radius: 10px;
	font-size: 20px;
	letter-spacing: 2px;
	color: #333333;
	margin-left: 90px;
	text-indent: 20px;
	margin-top: 20px;

}
.personal_body_write_content_tip{
	position: absolute;
	top: 20px;
	left: 90px;
	font-size: 20px;
	letter-spacing: 2px;
	/*display: none;*/
}

@media screen and (max-width: 1006px){
	.personal_body{
		width: 948px;
	}
	.personal_body_save_article_content{
		width: 664px;
	}
	.container_inner{
		width: 942px;
	}
}