<!DOCTYPE>
<html>
    <head>
        <!--bootstrap-->
            <link href="/static/css/bootstrap.css" rel="stylesheet">
            <link  href="/static/css/font-awesome.min.css" rel="stylesheet">
            <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
            <script src="/static/js/jquery.js"></script>
            <script src="/static/js/bootstrap.js"></script>
        <!--vue-->
            <script src="/static/js/vue.js"></script>
        <!--csrf token-->
        <script type="text/javascript" src="/static/js/csrf.js"></script>
        <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
        <script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.min.js"> </script>
        <script type="text/javascript" charset="utf-8" src="/static/ueditor/lang/zh-cn/zh-cn.js"></script>
        <title>{% block title %}豆瓣读书{% endblock %}</title>
    </head>
    <body>
        {% if request.user.is_authenticated %}
        {{ request.user.name }}
        {% else %}
        <a class='btn btn-primary' href="/accounts/login/">登录</a>
        <a class='btn btn-primary' href="/accounts/register/">注册</a>
        {% endif %}
        {% block content %}
                                                                {% endblock %}
    {% block vuejs %}
    {% endblock %}
    </body>
</html>

