*{
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    list-style: none;
}
  a{
    text-decoration: none;
}
li{
		list-style-type: none;
}
.container{
	width: 100%;
	height: 2000px;
}
.header{
	width: 1006px;
	height: 139px;
	margin: 0px auto;

}
.logo_1{
	float: left;
	margin-top: 30px;
	width: 102px;
}
.nav_article{
	float: left;
	font-family: myFont2;
	color: #02C39A;
	margin-left: 105px;
	font-size: 31px;
	margin-top: 88px;
	letter-spacing: 3px;
}
.nav_essey{
	font-family: myFont2;
	color: #02C39A;
	float: left;
	font-size: 31px;
	margin-left: 105px;
	margin-top: 88px;
	letter-spacing: 3px;
}
.search_box{
	width: 257px;
	height: 42px;
	border: 2px solid #C9C9C9;
	border-radius: 12px;
	margin-top: 76px;
	float: left;
	position: relative;
	margin-left: 130px;

}
.search_box_input{
	width: 211px;
	height: 39px;
	color: #C9C9C9;
	outline: none;
	border: 1px solid white;
	position: absolute;
	left: 10px;
	font-size: 18px;
}
.search_box_button{
	width: 43px;
	height: 42px;
	background-image: url(../images/search_button.png);
	background-repeat: no-repeat;
	background-position: center;
	outline: none;
	border :none;
	border-left: 3px solid #C9C9C9;
	position: absolute;
	right: 6px;
	top: 0px;
	background-color: white;
}
.search_box_button:hover{
	cursor: pointer;
}
.nav_log_reg{
	width: 90px;
	height: 20px;
	margin-left:19px;
	margin-top: 96px;
	color: #B4D2BA;
	font-family: myFont2; 
	float: left;
}
.login_a{
	margin-right: 18px;
	font-size: 21px;
	color: #B4D2BA;
	font-family: myFont2; 
}
.login:hover{
	cursor: pointer;
}
.registration_a{
	font-size: 21px;
	color: #B4D2BA;
	font-family: myFont2; 
}
.registration:hover{
	cursor: pointer;
}
.nav_menu{
	float: left;
	width: 144px;
	height: 30px;
	margin-top: 89px;
	margin-left: 233px;
	vertical-align: middle;
	/*display: inline-block;*/
}
.nav_menu img{
	/*margin-top: 10px;*/
	vertical-align: middle;
}
.nav_menu span{
	vertical-align: middle;
}
.nav_menu_word{
	color: #02C39A;
	font-size: 30px;
	margin-left: 12px;
	font-family: myFont2;
}
.body{
	width: 100%;
	height: 1671px;
}
.body_top{
	width: 100%;
	height: 81px;
	background-color: #EDF4ED;
	/*position: fixed;*/
}
.body_top_inner{
	width: 1006px;
	margin:0px auto;

}
.body_top_nav{
	width: 167px;
	height: 81px;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 81px;
	letter-spacing: 2px;
	position: relative;

}

.body_top_nav_a{
	text-decoration: none;
	color: #187B8C;
	font-size: 18px;
}

.body_top_nav_arrow{

/*	bottom: -25px;
	left: 43%;*/
	margin-top: -55px;

}
.body_middle{
	width: 100%;
	height: 1633px;
	background-color: #F7F7F7;
}
.body_middle_inner{
	width: 1004px;
	margin: 0px auto;
	border:1px solid #F7F7F7;

}
.body_middle_article{
	width: 1004px;
	height: 247px;
	margin-top: 54px;
	list-style-type: none;
	background-color: white;
	position: relative;
}

.body_middle_article_left{
/*	position: absolute;
	top: 20px;
	left: 39px;*/
	width: 325px;
	height: 201px;
	float: left;
	margin-left: 39px;
	margin-top: 20px;
	margin-right: 44px;

}
.body_middle_article_left img{
	width: 325px;
	height: auto;
}
.body_middle_article_right{
	float: left;
	width: 563px;
}
.body_middle_article_title{
	width: 139px;
	height: 20px;
	font-size: 20px;
	letter-spacing: 2px;
	color: #333333;
	margin-top: 20px;
	margin-bottom: 20px;

}
.body_middle_article_info{
	width: 562px;
	height: 73px;
	font-size: 16px;
	letter-spacing: 1px;
	color: #333333;
	margin-top: 26px;
}
.body_middle_article_author{
	width: 86px;
	height: 17px;
	font-size: 16px;

	letter-spacing: 1px;
	color: #187b8c;


}
.body_middle_article_publishtime{
	width: 126px;
	height: 15px;
	font-size: 16px;
	letter-spacing: 1px;
	color: #666666;
	margin-left: 10px;
}



.body_middle_article_like{
	width: 25px;
	height: 22px;
	position: absolute;
	right: 86px;
	bottom: 26px;
}
.body_middle_article_like img{
	width: 25px;
	height: 22px;

}
.body_middle_article_like:hover{
cursor: pointer;
}

.body_middle_article_share{
	position: absolute;
	right: 38px;
	bottom: 26px;
	width: 24px;
	height: 25px;
}
.body_middle_article_share:hover{
cursor: pointer;
}
.body_middle_article_share img{
	width: 24px;
	height: 25px;
}



.body_middle_article_grade_star_inside{
	float: left;
}

.body_bottom_page{
	width: 351px;
	margin:0px auto;
	font-size: 20px;
	line-height: 36px;
	letter-spacing: 2px;
	color: #347898;
	margin-top: 59px;
}
.first_page{
	margin-left: 78px;
	margin-right: 78px;
}
.last_page:hover,.first_page:hover,.next_page:hover{
	cursor: pointer;
}
.last_page_tip{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 80px;
	color: #ffffff;
	background-color: rgba(0,168,150,0.7);
	text-align: center;
	line-height: 80px;
	font-size: 26px;
	margin-left: -175px;
	margin-top: -40px;
}

.first_page_tip{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 80px;
	color: #ffffff;
	background-color: rgba(0,168,150,0.7);
	text-align: center;
	line-height: 80px;
	font-size: 26px;
	margin-left: -175px;
	margin-top: -40px;
}
.article_save_tip{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 80px;
	color: #ffffff;
	background-color: rgba(0,168,150,0.7);
	text-align: center;
	line-height: 80px;
	font-size: 22px;
	margin-left: -175px;
	margin-top: -40px;
	z-index: 99;
}

@media screen and (max-width: 1006px){
	.nav_menu{
		margin-left: 230px;
	}
	.body_top_inner{
		width: 980px;
	}
	.body_top_nav{
		width: 163px;
	}
	.body_middle_article{
		width: 980px;
	}
	.body_middle_article_right{
		margin-left: -20px;
	}
	.body_middle_inner{
		width: 980px;
	}
	.header{
		width: 980px;
	}
}