*{
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    list-style: none;
}
a{
    text-decoration: none;
}
li{
	list-style-type: none;
}
input::-webkit-input-placeholder { /* WebKit browsers */ 
color: #C9C9C9; 
} 
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #C9C9C9; 
} 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #C9C9C9; 
} 
input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #C9C9C9; 
} 
.container{
	width: 100%;
	/*height: 2097px;*/
}
.header{
	width: 1006px;
	height: 139px;
	margin: 0px auto;
	border-bottom: 1px solid rgb(228,228,228);

}
.logo_1{
	float: left;
	margin-top: 30px;
	width: 102px;
}
.logo_1:hover{
	cursor: pointer;
}
.nav_book{
	float: left;
	font-family: myFont2;
	color: #02C39A;
	margin-left: 105px;
	font-size: 31px;
	margin-top: 88px;
	letter-spacing: 3px;
}
.nav_essey{
	font-family: myFont2;
	color: #02C39A;
	float: left;
	font-size: 31px;
	margin-left: 105px;
	margin-top: 88px;
	letter-spacing: 3px;
}
.search_box{
	width: 257px;
	height: 42px;
	border: 2px solid #C9C9C9;
	border-radius: 12px;
	margin-top: 76px;
	float: left;
	position: relative;
	margin-left: 130px;


}
.search_box_input{
	width: 211px;
	height: 39px;

	outline: none;
	border: 1px solid white;
	position: absolute;
	left: 10px;
	color: black;
}
.search_box_button{
	width: 43px;
	height: 42px;
	background-image: url(../images/search_button.png);
	background-repeat: no-repeat;
	background-position: center;
	outline: none;
	border :none;
	border-left: 3px solid #C9C9C9;
	position: absolute;
	right: 6px;
	top: 0px;
	background-color: white;
}
.search_box_button:hover{
	cursor: pointer;
}
.nav_log_reg{
	width: 90px;
	height: 20px;
	margin-left:19px;
	margin-top: 96px;
	color: #B4D2BA;
	font-family: myFont2; 
	float: left;
}
.login_a{
	margin-right: 18px;
	font-size: 21px;
	color: #B4D2BA;
	font-family: myFont2; 
}
.login:hover{
	cursor: pointer;
}
.registration_a{
	font-size: 21px;
	color: #B4D2BA;
	font-family: myFont2; 
}
.registration:hover{
	cursor: pointer;
}
.nav_menu{
	float: left;
	width: 144px;
	height: 30px;
	margin-top: 89px;
	margin-left: 234px;
	vertical-align: middle;
	/*display: inline-block;*/
}
.nav_menu img{
	/*margin-top: 10px;*/
	vertical-align: middle;
}
.nav_menu span{
	vertical-align: middle;
}
.nav_menu_word{
	color: #02C39A;
	font-size: 30px;
	margin-left: 12px;
	font-family: myFont2;
}
/*.body_book_intro_dot_1 img{
	width: 200px;
	height: auto;
}*/
/*.body_book_intro_dot_1{
	margin-left: 2px;
}*/
.body_book_intro_word{

	font-family: myFont2;
	font-size: 30px;
	letter-spacing: 3px;
	line-height: 36px;
	color: #05668d;
	margin:0px 50px 0px 50px;
}
.body_article_middle{
	width: 780px;
	margin:0px auto;
	
}
.body_article_title{
	font-size: 26px;
	margin-top: 20px;
	/*margin-left: 47px;*/
	/*font-family: SimHei;*/
	/*text-align: center;*/
}
.body_article_author{
	width: 780px;
	height: 86px;
	background-color: #f7f7f7;
	box-shadow: 0px 2px 6px 0px 
		rgba(0, 0, 0, 0.09);
	position: relative;
	margin-bottom: 30px;
	margin-top: 20px;
}
.body_article_author_pic{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -25px;
}
.body_article_author_pic img{
	width: 50px;
	height: auto;
}
.body_article_author_name{

	font-size: 16px;
	letter-spacing: 1px;
	color: #187b8c;
	position: absolute;
	left: 89px;
	top: 50%;
	margin-top: -9px;
}
.body_article_author_time{
	font-size: 16px;
	letter-spacing: 1px;
	color: #333333;
	position: absolute;
	left: 189px;
	top: 50%;
	margin-top: -9px;
}
.body_article_author_more{
	width: 79px;
	height: 36px;
	position: absolute;
	right: 17px;
	top: 32px;


}
.body_article_author_love img{
	width: 25px;
	height: auto;
	float: left;
	margin-right: 18px;
	margin-top: 2px;
}
.body_article_author_love:hover{
	cursor: pointer;
}
.body_article_author_share img{
	width: 25px;
	height: auto;
	float: left;
}
.body_article_author_share:hover{
	cursor: pointer;
}
.body_article_pic{
	width: 780px;
	height: auto;
	margin:0px auto;
	display: block;
}
.body_article_middle_contain img{
	width: 780px;
	height: auto;
}
.body_article_middle_contain .article_copyright{
	margin-top: 59px;
	text-indent: 0px;
	font-size: 16px;
	letter-spacing: 1px;
	color: #c8c8c8;
}
.body_article_middle_contain .article_copyright_learn{
	text-indent: 0px;
	font-size: 16px;
	letter-spacing: 1px;
	color: #c8c8c8;
	margin-bottom: 56px;

}
.body_article_middle_contain p{
	text-indent: 39px;
	font-size: 16px;
	margin-top: 17px;
	margin-bottom: 17px;
	line-height: 25px;
	letter-spacing: 1px;
	color: #333333;
}

.body_book_bottom{
	width: 100%;
	/*height: 1397px;*/
	background-color: #edf4ed;
}
.body_book_bottom_inner{
	width: 800px;
	/*height: 1351px;*/
	margin: 0px auto;
	padding-top: 46px;
	padding-bottom: 20px;
}
.book_comment_nav{
	height: 40px;
	width: 800px;
	margin-top: 20px;
}

.book_comment_nav_time{

	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 1px;
	float: left;
}
.book_comment_nav_time:hover{
	cursor: pointer;
}
.book_comment_nav_time_a{
	color:#333333;
	font-size: 18px;

}
.book_comment_nav_hot{
	width: 80px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	letter-spacing: 1px;
	float: left;
}
.book_comment_nav_hot:hover{
	cursor: pointer;
}
.book_comment_nav_hot_a{
	color: #333333;
	font-size: 18px;

}
.comment_hot_time{
	width: 80px;
	height: 40px;
	background-color: #02c39a;
	box-shadow: 0px 2px 6px 0px 
		rgba(0, 0, 0, 0.15);
	border-radius: 7px;
	color: white;
	line-height: 40px;
	text-align: center;
	letter-spacing: 1px;
	float: left;
}
.comment_hot_time a{
	color:white;
}
.book_comment_nav_write{
	width: 142px;
	height: 40px;
	background-color: #02c39a;
	box-shadow: 0px 2px 6px 0px 
		rgba(0, 0, 0, 0.15);
	border-radius: 7px;
	text-align: center;
	letter-spacing: 1px;
	float: right;
	line-height: 40px;
}
.book_comment_nav_write_a{
	color: #ffffff;
	font-size: 18px;
}
.book_writecomment{
	position: relative;
}
.book_writecomment input{
	width: 64px;
	height: 34px;
	outline: none;
	background-color: white;
	border: none;
	position: absolute;
	left: -18px;
	top: 0px;
	font-size: 35px;
	color: #C9C9C9;
	z-index: 99;
	text-align: right;


}
.book_writecomment span{
	position: absolute;
	right: 0px;
	bottom: 0px;
	width:73px;
	height:20px; 
	font-size:20px;
	
	color:rgba(51,51,51,1);
	line-height:36px;
	display: block;
}
.book_writecomment_input{
	padding-top: 47px;
	padding-left: 64px;
	padding-right: 64px;
	width: 672px;
	height: 228px;
	background-color: #ffffff;
	box-shadow: 0px 2px 6px 0px 
		rgba(0, 0, 0, 0.15);
	margin:0px auto;
	outline: none;
	border:none;
	margin-top: 32px;
	font-size: 20px;
	/*position: relative;*/
}
.book_writecomment_login{
	position: absolute;
	left: 50%;
	top: 50%;
	color: #C9C9C9;
	font-size: 29px;
	margin-left: -58px;
	margin-top: -19px;
}
.book_writecomment_count{
	width: 120px;
	height: 30px;
	position: absolute;
	bottom: 36px;
	right: 35px;
}
.book_comment_pinfen{
	margin-top: 39px;
	float: left;
	position: relative;
	width: 260px;
	height: 29px;
}
.book_comment_pinfen_span{
	width: 87px;
	height: 20px;
	font-size: 20px;
	line-height: 36px;
	letter-spacing: 2px;
	color: #05668d;
}
.book_comment_pinfen_stars{
	
	width: 155px;
	height: 27px;
	position: absolute;
	right: 0px;
	top: 2px;
}
.book_comment_pinfen_star{
	float: left;
}
.book_comment_publish{
	width: 130px;
	height: 50px;
	background-color: #02c39a;
	border-radius: 10px;
	float: right;
	margin-top: 28px;
	line-height: 50px;
	text-align: center;
	outline: none;
	font-size: 19px;
	color: white;
}
.book_comment_publish:hover{
	cursor: pointer;
}
.book_comment_publish_a{
	font-size: 20px;
	color: #ffffff;
	letter-spacing: 2px;

}
.body_comment_content{
	width: 800px;
	height: 222px;
	background-color: #ffffff;
	box-shadow: 0px 2px 6px 0px 
		rgba(0, 0, 0, 0.15);
	margin-top: 43px;
	position: relative;
}

.body_comment_content_pic{
	width: 73px;
	height: 73px;
	border-radius: 36.5px;

	position: absolute;
	top: 32px;
	left: 33px;
	
	overflow: hidden;
}
.body_comment_content_pic img{
	width: 73px;
	height: auto;
}
.body_comment_content_id{
	font-size: 20px;
	line-height: 36px;
	letter-spacing: 2px;
	color: #05668d;
	position: absolute;
	top: 23px;
	left: 128px;
}
.body_comment_star{
	width: 135px;
	height: 27px;
	position: absolute;
	top: 30px;
	left: 245px;
}
.body_comment_stars{
	float: left;
}
.body_comment_content_time{
	font-size: 20px;
	letter-spacing: 2px;
	color: #333333;
	position: absolute;
	right: 49px;
	top: 29px;
}
.body_comment_content_word{
	width: 626px;
	height: 52px;
	font-size: 16px;
	line-height: 29px;
	letter-spacing: 1px;
	color: #333333;
	position: absolute;
	top: 67px;
	right: 47px;
}
.body_comment_good{
	width: 83px;
	height: 27px;
	position: absolute;
	bottom: 13px;
	right: 44px;
}
.body_comment_good_pic{
	width: 20px;
	height: 19px;
	float: left;
	margin-right: 15px;
}
.body_comment_good_pic img{
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 15px;
}
.body_comment_good_pic:hover{
	cursor: pointer;
}
.body_comment_good_amount{
	color: #eb0606;
	letter-spacing: 1px;
	font-size: 16px;

}
.body_bottom_page{
	width: 351px;
	margin:0px auto;
	font-size: 20px;
	line-height: 36px;
	letter-spacing: 2px;
	color: #347898;
	margin-top: 22px;
}
.first_page{
	margin-left: 78px;
	margin-right: 78px;
}
.first_page:hover,.last_page:hover,.next_page:hover{
	cursor: pointer;
}
.last_page_tip{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 80px;
	color: #ffffff;
	background-color: rgba(0,168,150,0.7);
	text-align: center;
	line-height: 80px;
	font-size: 26px;
	margin-left: -175px;
	margin-top: -40px;
}
.first_page_tip{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 80px;
	color: #ffffff;
	background-color: rgba(0,168,150,0.7);
	text-align: center;
	line-height: 80px;
	font-size: 26px;
	margin-left: -175px;
	margin-top: -40px;
}
@media screen and (max-width: 1006px){
	.nav_menu{
		margin-left: 230px;
	}

	.header{
		width: 980px;
	}
}