*{
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    list-style: none;
}
  a{
    text-decoration: none;
}
	li{
		list-style-type: none;
	}
.container{
	width: 100%;
	height: 2000px;
}
.header{
	width: 1006px;
	height: 139px;
	margin: 0px auto;

}
.logo_1{
	float: left;
	margin-top: 30px;
	width: 102px;
}
.nav_book{
	float: left;
	font-family: myFont2;
	color: #02C39A;
	margin-left: 105px;
	font-size: 31px;
	margin-top: 88px;
	letter-spacing: 3px;
}
.nav_essey{
	font-family: myFont2;
	color: #02C39A;
	float: left;
	font-size: 31px;
	margin-left: 105px;
	margin-top: 88px;
	letter-spacing: 3px;
}
.search_box{
	width: 257px;
	height: 42px;
	border: 2px solid #C9C9C9;
	border-radius: 12px;
	margin-top: 76px;
	float: left;
	position: relative;
	margin-left: 130px;

}
.search_box_input{
	width: 211px;
	height: 39px;
	color: #C9C9C9;
	outline: none;
	border: 1px solid white;
	position: absolute;
	left: 10px;
	font-size: 18px;
}
.search_box_button{
	width: 43px;
	height: 42px;
	background-image: url(../images/search_button.png);
	background-repeat: no-repeat;
	background-position: center;
	outline: none;
	border :none;
	border-left: 3px solid #C9C9C9;
	position: absolute;
	right: 6px;
	top: 0px;
	background-color: white;
}
.search_box_button:hover{
	cursor: pointer;
}
.nav_log_reg{
	width: 90px;
	height: 20px;
	margin-left:19px;
	margin-top: 96px;
	color: #B4D2BA;
	font-family: myFont2; 
	float: left;
}
.login_a{
	margin-right: 18px;
	font-size: 21px;
	color: #B4D2BA;
	font-family: myFont2; 
}
.login:hover{
	cursor: pointer;
}
.registration_a{
	font-size: 21px;
	color: #B4D2BA;
	font-family: myFont2; 
}
.registration:hover{
	cursor: pointer;
}
.nav_menu{
	float: left;
	width: 144px;
	height: 30px;
	margin-top: 89px;
	margin-left: 233px;
}
.nav_menu_word{
	color: #02C39A;
	font-size: 30px;
	margin-left: 12px;
	font-family: myFont2;
}
.body{
	width: 100%;
	height: 1671px;
}
.body_top{
	width: 100%;
	height: 81px;
	background-color: #EDF4ED;
	/*position: fixed;*/
}
.body_top_inner{
	width: 1006px;
	margin:0px auto;

}
.body_top_nav{
	width: 167px;
	height: 81px;
	float: left;
	list-style: none;
	text-align: center;
	line-height: 81px;
	letter-spacing: 2px;
	position: relative;

}

.body_top_nav_a{
	text-decoration: none;
	color: #187B8C;
	font-size: 18px;
}

.body_top_nav_arrow{

/*	bottom: -25px;
	left: 43%;*/
	margin-top: -55px;

}
.body_middle{
	width: 100%;
	height: 1590px;
	background-color: #F7F7F7;
}
.body_middle_inner{
	width: 1004px;
	margin: 0px auto;
	border:1px solid #F7F7F7;
	padding-top: 21px;

}

.body_middle_book{
	width: 1004px;
	height: 271px;
	margin-top: 31px;
	list-style-type: none;
	background-color: white;
	position: relative;
}
.body_middle_book_left{
	float: left;
	padding-left: 60px;
	padding-top: 31px;
}
.body_middle_book_left{
	width: 124px;
	height: auto;
}
.body_middle_book_right{
	float: left;
}
.body_middle_book_title{
	width: 125px;
	text-align: center;
	margin-top: 13px;
	color: #187B8C;
	font-size: 18px;
}
.body_middle_book_info{
	width: 696px;
	height: 45px;
	margin-left: 32px;
	margin-top: 33px;
	font-size: 16px;
	letter-spacing: 1px;
	line-height: 24px;
	color: #333333;
}
.body_middle_book_author{
	margin-top: 53px;
	margin-left: 32px;
	font-size: 16px;
	color: #333333;
	letter-spacing: 1px;
}
.body_middle_book_grade{
	width: 110px;
	height: 17px;
	position: absolute;
	left:217px;
	top: 205px;
}
.body_middle_book_grade_word{
	color: #333333;
	font-size: 16px;
	letter-spacing: 1px;
}
.body_middle_book_grade_num{
	color: #187B8C;
	font-size: 16px;
	letter-spacing: 1px;
	margin-left: 5px;
}
.body_middle_book_like{
	width: 22px;
	height: 19px;
	position: absolute;
	right: 212px;
	bottom: 47px;
}
.body_middle_book_like:hover{
	cursor: pointer;
}
.body_middle_book_like img{
	width: 22px;
	height: 19px;
}
.body_middle_book_detail{
	width: 97px;
	height: 57px;
	line-height: 57px;
	border-radius: 7px;
	color: white;
	font-size: 16px;
	text-align: center;
	background-color: #02C39A;
	position: absolute;
	right: 73px;
	bottom: 31px;
}
.body_middle_book_detail:hover{
	cursor: pointer;
	}
.body_middle_book_detail_a{
	color: white;
}

.body_middle_book_grade_star_inside{
	float: left;
}
.body_middle_book_grade_star{
	position: absolute;
	left: 125px;
	bottom: 0px;
	width: 135px;
	height: 18px;
}
.article_save_tip{
	position: fixed;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 80px;
	color: #ffffff;
	background-color: rgba(0,168,150,0.7);
	text-align: center;
	line-height: 80px;
	font-size: 22px;
	margin-left: -175px;
	margin-top: -40px;
	z-index: 99;
	display: none;
}

@media screen and (max-width: 1006px){

	.header{
		width: 980px;
	}
	.nav_menu{
		margin-left: 232px;
	}
	.search_box{
		margin-left: 127px;
	}
	.body_top_inner{
		width: 980px;
	}
	.body_top_nav_1,.body_top_nav{
		width: 163px;
	
	}
	.body_middle_book{
		width: 980px;
	}
	.body_middle_book_right{
		margin-left: -20px;
	}
	.body_middle_inner{
		width: 980px;
	}


}