{% extends 'basemain.html' %}
{% block title %}个人信息修改{% endblock %}
{% block content %}

<h2>个人信息修改</h2>
<div id="app">
    <table>
        <thead>
            <tr>
                <th>编号</th>
                <th>项目</th>
                <th>值</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0</td>
                <td>账户（不可改）</td>
                <td><span v-text="email"></span></td>
            </tr>
            <tr>
                <td>1</td>
                <td>昵称</td>
                <td><input v-model="name"></td>
            </tr>
            <tr>
                <td>2</td>
                <td>性别</td>
                <td><input v-model="sex"></td>
            </tr>
    </table>
    <button @click="submit">保存</button>
</div>
{% endblock %}
{% block vuejs %}
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data:{
                email:'{{ request.user.email }}',
                name: '{{ request.user.name }}',
                sex: '{{ request.user.sex }}',
            },
            methods:{
            	submit(){
            		data_to_send = {
            			name: this.name,
            			sex: this.sex,
            		};
            		console.log(data_to_send);
                    data_to_send = JSON.stringify(data_to_send);
                    console.log(data_to_send);

                    $.post('/informationChange/',
                        data_to_send,
                        function(r,err){
                            if(err === 'success'){
                                return location.assign('/index/');  
                            }else{
                                return console.log(err);
                            }
                        }
                        )
            	}
            }
            
        });
    </script>
    {% endblock %}
