<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>豆瓣文章</title>
	<link rel="stylesheet" href="/static/css/font_csh.css">
	<link rel="stylesheet" href="/static/css/article_contain.css">
	<link rel="shortcut icon" href="/static/images/bitbug_favicon.ico">
	<link rel="stylesheet" href="/static/css/footer.css">
	<link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="logo_1"><img src="/static/images/logo.png" alt=""></div>
			<div class="nav_menu">
				<a href=""><img src="/static/images/book_list_logo.png" alt="shouye.html"></a>
				<span class="nav_menu_word">豆瓣文章</span>
<!-- 				<ul class="nav_menu_ul">
					<li class="nav_book">豆瓣读书</li>
					<li class="nav_essey">豆瓣文章</li>
				</ul> -->

			</div>
			<div class="search_box">
				<input class="search_box_input" type="text" value="请输入图书名称/作者">
				<button class="search_box_button"></button>
			</div>
			<div class="nav_log_reg">
				<span class="personal_center"><a class="personal_center_a" href="/index/">个人中心</a></span>
				<span class="log_out"><a class="log_out_a" href="/accout/logout/">注销</a></span>
			</div>
		</div>
		<!-- <div class=""></div> -->
		<div class="body_article_middle">

            <h2 class="body_article_title">{{articl.title}}</h2>
			<div class="body_article_author">
				<div class="body_article_author_pic"><img src="/static/images/author_picc.png" alt=""></div>
                <span class="body_article_author_name">{{request.user.name}}</span>
                <span class="body_article_author_time">{{article.update_time}}</span>
				<div class="body_article_author_more">
					<div class="body_article_author_love">
						<img src="/static/images/author_article_love.png" alt="">
					</div>
					<div class="body_article_author_share"><img src="/static/images/author_article_share.png" alt=""></div>
				</div>					
			</div>
			<div class="body_article_middle_contain">
                {{article.content|safe}}
				<p class="article_copyright">
					© 本文版权归 阿浦爱曼联所有，任何形式转载请联系作者。
				</p>	
				<p class="article_copyright_learn">
					© 了解版权计划
				</p>


			</div>
		</div>
		<div class="body_book_bottom">
				<div class="body_book_bottom_inner">
					<span class="body_book_intro_dot_1"><img src="/static/images/half_dots.png" alt=""></span>
					<span class="body_book_intro_word">网友评论</span>
					<span class="body_book_intro_dot_2"><img src="/static/images/half_dots.png" alt=""></span>
					<div class="book_comment_nav">
						<div class="book_comment_nav_time"><a class="book_comment_nav_time_a" href="">时间</a></div>
						<div class="book_comment_nav_hot"><a class="book_comment_nav_hot_a" href="">热度</a></div>
						<!-- <div class="book_comment_nav_write"><a class="book_comment_nav_write_a" href="">我来写评论</a></div> -->
					</div>
					<div class="book_writecomment">
						<textarea class="book_writecomment_input" type="text"></textarea>
						
					</div>

		<div class="book_comment_publish"><a class="book_comment_publish_a" href="">发布评论</a></div>
				<div style="clear: both;"></div>
					<div class="body_comment_contentout time">
						<ul class="body_comment_content_page_1">
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/goog.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/goog.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/goog.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/goog.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
						</ul>
						<ul class="body_comment_content_page_2" style="display: none;">
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/goog.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/goog.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/goog.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/goog.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
						</ul>
						<ul class="body_comment_content_page_3" style="display: none;">
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/goog.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/goog.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/goog.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/goog.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
						</ul>

					</div>
					<!-- <div class="body_comment_contentout hot" style="display: none;">
						<ul class="body_comment_content_page_1">
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/goog.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/good_white.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/good_white.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">阿浦爱曼联</div>
								<div class="body_comment_content_time">2018年3月18日</div>

								<div class="body_comment_content_word">东野的小说，很耐看的，也许是因为冲击直木奖的那连续的几部太过精彩了吧，所以当下新出的小说总是背负很大的压力啊</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="/static/images/good_white.png" alt=""></div>
									<span class="body_comment_good_amount">1902</span>
								
								</div>
							</li>
						</ul>
				

					</div> -->
					<div class="body_bottom_page">
						<span class="last_page" >上一页</span>
						<span class="first_page">首页</span>
						<span class="next_page">下一页</span>
						<div class="last_page_tip" style="display: none;">已经是最后一页啦~</div>
						<div class="first_page_tip" style="display: none;">已经是第一页啦~</div>
					</div>
				</div>
			</div>
			<div class="footer">
			<div class="footer_inner">
				<div class="footer_nav">
					<ul class="footer_nav_list">
						<li class="footer_nav_content_1"><a class="footer_nav_content_a_1" href="">关于我们</a></li>
						<li class="footer_nav_content_2"><a class="footer_nav_content_a_2"  href="">加入我们</a></li>
						<li class="footer_nav_content_3"><a class="footer_nav_content_a_3"  href="">合作伙伴</a></li>
						<li class="footer_nav_content_4"><a  class="footer_nav_content_a_4" href="">广告服务</a></li>
						<li class="footer_nav_content_5"><a class="footer_nav_content_a_5"  href="">常见问题</a></li>
					</ul>
				</div>
			</div>
			</div>
	</div>
</body>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/article_contain.js"></script>
</html>
