{% extends 'article_base.html' %}

{% block ul %}
{% if cate == '1' %}
					<ul class="body_top_nav_list">
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/1/1/">热门读刊</a><div class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/2/1/">最新读物</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/3/1/">小说</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/4/1/">散文</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/5/1/">感悟</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/6/1/">新闻</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
					</ul>
				{% endif %}
					{% if cate == '2' %}
					<ul class="body_top_nav_list">
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/1/1/">热门读刊</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/2/1/">最新读物</a><div  class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/3/1/">小说</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/4/1/">散文</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/5/1/">感悟</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/6/1/">新闻</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
					</ul>
					{% endif %}
					{% if cate == '3' %}
					<ul class="body_top_nav_list">
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/1/1/">热门读刊</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/2/1/">最新读物</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/3/1/">小说</a><div  class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/4/1/">散文</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/5/1/">感悟</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/6/1/">新闻</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
					</ul>
					{% endif %}
					{% if cate == '4' %}
					<ul class="body_top_nav_list">
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/1/1/">热门读刊</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/2/1/">最新读物</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/3/1/">小说</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/4/1/">散文</a><div  class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/5/1/">感悟</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/6/1/">新闻</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
					</ul>
					{% endif %}
					{% if cate == '5' %}
					<ul class="body_top_nav_list">
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/1/1/">热门读刊</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/2/1/">最新读物</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/3/1/">小说</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/4/1/">散文</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/5/1/">感悟</a><div  class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/6/1/">新闻</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
					</ul>
					{% endif %}
					{% if cate == '6' %}
					<ul class="body_top_nav_list">
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/1/1/">热门读刊</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/2/1/">最新读物</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/3/1/">小说</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/4/1/">散文</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/5/1/">感悟</a><div style="display: none;" class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
						<li class="body_top_nav"><a class="body_top_nav_a" href="/articleList/6/1/">新闻</a><div  class="body_top_nav_arrow"><img src="/static/images/arrow_1_down.png" alt=""></div></li>
					</ul>
					{% endif %}
					


		{% endblock %}
				</div>

			</div>
		{% block content %}
			<div class="body_middle">
				<div class="body_middle_inner">
					<ul class="body_middle_article_page_1">
						{% for article in article_page %}
						<li class="body_middle_article">
							<div class="body_middle_article_left">
								<a href="/detail/{{article.id}}">
								<img src="/static/{{article.image}}" alt=""></a>
								
								
							</div>
							<div class="body_middle_article_right">
								<div class="body_middle_article_title"><a class="hhh" href="/detail/{{article.id}}">{{article.title}}</a></div>
								<span class="body_middle_article_author">{{article.author.name}}</span>
								<span class="body_middle_article_publishtime">{{article.update_time}}</span>
								<p class="body_middle_article_info">{{article.abstract}}……</p>
								
							</div>
							<div class="body_middle_article_more">
								<form action="." method="post">
									{% csrf_token %}
									<input type="hidden" id="article_id" name="article_id" value="{{article.id}}">
									<input class="body_middle_article_like" type="image" id="id_image" src="/static/images/love_white.png" alt="">
									{% for shoucang in save_article %}
									{% if shoucang.article == article %}
									<input class="body_middle_article_like" type="image" id="id_image" src="/static/images/grade_love.png" alt="">
									{% endif %}
									{% endfor %}
								</form>
								<div class="body_middle_article_share"><img src="/static/images/article_share.png" alt=""></div>
							</div>
													</li>
						{% endfor %}
					</ul>
				</div>
				<div class="body_bottom_page">
					{% if article_page.has_previous %}
						<span class="last_page"><a href="/articleList/{{cate}}/{{article_page.previous_page_number}}/"> 上一页</a></span>
						{% else %}
						<span class="last_page"> 上一页</span>
						{% endif %}
						<span class="first_page"><a href="/articleList/{{cate}}/1/"> 首页</a></span>
						{% if article_page.has_next %}
						<span class="next_page"><a href="/articleList/{{cate}}/{{article_page.next_page_number}}"> 下一页</a></span>
						{% else %}
						<span class="next_page">下一页</span>
						{% endif %}
						<div class="last_page_tip" style="display: none;">已经是最后一页啦~</div>
						<div class="first_page_tip" style="display: none;">已经是第一页啦~</div>
					</div>
			</div>

			{% endblock %}
			