{% extends 'article_base.html' %}

{% block content %}


				<div class="personal_body_write_article">

                    <form action="." method="post">
                        {% csrf_token %}
					<div class="personal_body_write_title"><input name="title" maxlength="256" required id="id_title"  class="personal_body_write_title_input" value="#请在此添加标题" type="text"></div>

									<div class="personal_body_write_content">

                                         <script class="personal_body_write_content_text" id="id_content"   name="content"  style="display: inline-block;" type="text/plain">

 </script>
<script type="text/javascript">

    var id_content = UE.getEditor('id_content',{'initialFrameWidth': 600, 'initialFrameHeight': 300, 'serverUrl': '/ueditor/controller/?imageMaxSize=1204000&imagePathFormat=static%2Fimg%2F&filePathFormat=main%2Fstatic%2Fimg%2F'});
     id_content.ready(function(){

     });
</script></div>

						
						<select  name="article_cate" id="id_article_cate">
  <option value="小说" selected>小说</option>

  <option value="散文">散文</option>

  <option value="戏曲">戏曲</option>

  <option value="剧本">剧本</option>

  <option value="诗歌">诗歌</option>

  <option value="寓言">寓言</option>

  <option value="童话">童话</option>

  <option value="书信">书信</option>

  <option value="议论文">议论文</option>

  <option value="说明文">说明文</option>

  <option value="记叙文">记叙文</option>

  <option value="报告">报告</option>

  <option value="总结">总结</option>

  <option value="新闻">新闻</option>
</select>
<br>
<input type="submit" value="提交">
</form>
					</div> 	

{% endblock %}




				
