{% extends 'article_base.html' %}
{% block content %}

				<div class="personal_body_save_article_content">
					<!-- <div class="personal_body_save_article_inner"> -->
						{% for comment in commentList %}
						<ul>
							<li class="body_comment_content_1">
								
								<div class="body_comment_content_id_1">{{request.user.name}}</div>
								<div class="body_comment_content_time_1">{{comment.pub_date|date:"Y年m月d日"}}</div>
								<div class="body_comment_star">
									<ul class="body_comment_star_list">
										<li class="body_comment_stars"><img src="/static/images/star——3.png" alt=""></li>
										<li class="body_comment_stars"><img src="/static/images/star——3.png" alt=""></li>
										<li class="body_comment_stars"><img src="/static/images/star——3.png" alt=""></li>
										<li class="body_comment_stars"><img src="/static/images/star——3.png" alt=""></li>
									</ul>
								</div>
								<div class="body_comment_content_word_1">{{comment.content}}</div>
								<div class="body_comment_good_1">
									<div class="body_comment_good_pic"><img src="/static/images/good_white.png" alt=""></div>
									<span class="body_comment_good_amount_1">1902</span>
								
								</div>
							</li>
							
						</ul>
					{% endfor %}
						</div>
					
					
					
			{% endblock %}