{% extends 'article_base.html' %}

{% block link %}
	<link rel="stylesheet" href="/static/css/font_csh.css">
	<link rel="stylesheet" href="/static/css/personal_center_personal_article.css">
	<link rel="shortcut icon" href="/static/images/bitbug_favicon.ico">
	<link rel="stylesheet" href="/static/css/footer.css">
{% endblock %}
{% block content %}


				
				<div class="personal_body_save_article_content">
					<!-- <div class="personal_body_save_article_inner"> -->
						<ul>
							{% for article in article_list %}
							<li class="personal_body_save_article_1">
								<div class="personal_body_save_article_pic_1"><img src="/static/{{article.image}}" alt=""></div>
                                <h5 class="personal_body_save_article_title_1"><a href="/detail/{{article.id}}/">{{article.title}}</a></h5>
								<p class="personal_body_save_article_intro_1">{{article.abstract|safe}}……
								</p>
								 <div class="personal_body_save_article_modify"><a href="/change/{{article.id}}/"><img src="/static/images/modify.png" alt=""></a></div>
								 <div class="personal_body_save_article_delete"><a href="/delete/{{article.id}}/"><img src="/static/images/delete.png" alt=""></a></div>
							</li>
							{% endfor %}
						</ul>
									
			{% endblock %}

{% block script %}
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/personal_center_save_book.js"></script>
{% endblock %}
