 certifi (2018.1.18)
    chardet (3.0.4)
    Django (1.11.9)
    django-appconf (1.0.2)
    django-model-utils (3.1.1)
    django-ranged-response (0.2.0)
    django-simple-captcha (0.5.6)
    django-users2 (0.2.1)
    DjangoUeditor (1.8.143)
    idna (2.6)
    itchat (1.3.10)
    markdown2 (2.3.5)
    mysqlclient (1.3.12)
    Pillow (5.0.0)
    pip (9.0.1)
    pypng (0.0.18)
    PyQRCode (1.2.1)
    pytz (2017.3)
    requests (2.18.4)
    setuptools (28.8.0)
    six (1.11.0)
    South (1.0.2)
    urllib3 (1.22)
