<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>密码重置</title>
	<link rel="shortcut icon" href="/static/images/bitbug_favicon.ico">
	<link rel="stylesheet" href="/static/css/font_csh.css">
	<!-- <link rel="stylesheet" href="../css/footer.css"> -->
	<link rel="stylesheet" href="/static/css/code_forget.css">
</head>
<body>
	<div class="container">
		<div class="body">
			<div class="logo_2" style="opacity: 0;margin-top: 98px;"><a style="display: block;" href="shouye.html"><img src="/static/images/logo_2.png" alt=""></a></div>
			<h3 style="opacity: 0">在豆瓣，遇见生活的美好</h3>
			<div class="regist_form">
				<!-- <ul>
					<li class="regist_form_login"><a class="regist_form_a_login" href="login.html">用户登录</a></li>
					<li class="regist_form_regist"><a class="regist_form_a_regist" href="regist.html">新用户注册</a></li>
					<div style="clear: both;"></div>
				</ul> -->
				<div class="regist_form_inner">

					<form  method="post" action=".">
					{% csrf_token %}
					<div class="regist_form_code">

						<div class="regist_form_code_word">新密码</div>
						<input value="" class="regist_form_code_input" type="password" name="new_password1" required id="id_new_password1" >
					</div>
					<div class="regist_form_code">

						<div style="width: 87px;height: 49px;line-height: 26px;float: left;margin-right: 2px;font-size: 20px;color: #00A896;margin-left: 2px;letter-spacing: 2px;">再次输入密码</div>
						<input name="new_password2" required id="id_new_password2"  class="regist_form_code_input" type="password">
					</div>
					<div style="clear: both;"></div>
					 <input type="submit" class="regist_form_verify_button" value="确认">
					</form>
				</div>
			</div>
		</div>
		<!-- <div class="footer">
			<div class="footer_inner">
				<div class="footer_nav">
					<ul class="footer_nav_list">
						<li class="footer_nav_content_1"><a class="footer_nav_content_a_1" href="">关于我们</a></li>
						<li class="footer_nav_content_2"><a class="footer_nav_content_a_2"  href="">加入我们</a></li>
						<li class="footer_nav_content_3"><a class="footer_nav_content_a_3"  href="">合作伙伴</a></li>
						<li class="footer_nav_content_4"><a  class="footer_nav_content_a_4" href="">广告服务</a></li>
						<li class="footer_nav_content_5"><a class="footer_nav_content_a_5"  href="">常见问题</a></li>
					</ul>
				</div>
				<div class="footer_nav_middle">
					<ul class="footer_nav_middle_list">
						<li class="footer_nav_middle_xinlang"><a class="footer_nav_middle_a_xinlang" href=""><img src="../images/xinlang_lgo.png" alt=""></a></li>
						<li class="footer_nav_middle_wechat"><a class="footer_nav_middle_a_wechat" href=""><img src="../images/weixin_logo.jpg" alt=""></a></li>
						<li class="footer_nav_middle_chrome"><a class="footer_nav_middle_a_chrome" href=""><img src="../images/liulan——logo.png" alt=""></a></li>
					</ul>
					<div style="clear: both;"></div>
				</div>
				<div class="footer_bottom_address">© 2005－2018 douban.com, all rights reserved 北京豆网科技有限公司</div>
			</div>

		</div> -->
	</div>
</body>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/code_forget.js"></script>
</html>