<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新用户注册</title>
	<link rel="shortcut icon" href="/static/images/bitbug_favicon.ico">
	<link rel="stylesheet" href="/static/css/font_csh.css">
	<link rel="stylesheet" href="/static/css/footer.css">
	<link rel="stylesheet" href="/static/css/regist.css">
	<script src="/static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
	
	<div class="container">
		<div class="body">
			<div class="logo_2" style="opacity: 0;margin-top: 98px;"><a style="display: block;" href="/"><img src="/static/images/logo_4.png" alt=""></a></div>
			<h3 style="opacity: 0">在豆瓣，遇见生活的美好</h3>
			<div style="height: 600px" class="regist_form">
				<ul>
					<li class="regist_form_login"><a class="regist_form_a_login" href="/accounts/login/">用户登录</a></li>
					<li class="regist_form_regist"><a class="regist_form_a_regist" href="/accounts/register/">新用户注册</a></li>
					<div style="clear: both;"></div>
				</ul>
				<form method="post" action=".">
					{% csrf_token %}
				<div class="regist_form_inner">
					<div class="regist_form_name">
						<div class="regist_form_name_word">用户名</div>
						<input maxlength="255" name="email" required id="id_email"  placeholder="example@xxx.com" class="regist_form_name_input" type="email">
						<div class="regist_form_name_input_tip">*请输入正确的邮箱地址</div>
					</div>
					<div style="clear: both;"></div>
					
					<div class="regist_form_code">

						<div class="regist_form_code_word">密码</div>
						<input name="password1" required id="id_password1" class="regist_form_code_input" type="password">
						<div class="regist_form_code_word_tip">*密码长度必须大于6位</div>
					</div>
					<div class="regist_form_code">

						<div class="regist_form_code_word">密码</div>
						<input name="password2" required id="id_password2" placeholder="请再次输入密码" class="regist_form_code_again_input" type="password">
						<div class="regist_form_code_again_input_tip">*两次密码不一致，请重新输入</div>
					</div>

					<div class="errors_tip_1">{% if form.errors %}
					{{form.errors.email }}
					{% endif %}
					</div>
					<div class="errors_tip_3">
					{% if form.errors.password2 %}
					{{ form.errors.password2}}
					{% endif %}
					</div>
					<div class="errors_tip_4">
					{% if form.errors.captcha %}
					{{ form.errors.captcha }}
					{% endif %}
					</div>

					<div class="regist_form_code">
						<div class="regist_form_code_word">验证码</div>
						<div><input type="hidden" name="captcha_0" id="id_captcha_0" value="{{hashkey}}">
						<input  class="regist_form_verify_input" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" id="id_captcha_1" name="captcha_1" type="text">
						<img src="{{ image_url }}" alt="captcha" width="100px" height="50px" class="captcha" /></div>
						<input type="hidden" type="checkbox" name="accept_terms" id="id_accept_terms">
					<div style="clear: both;"></div>
					<input type="submit" value="注册" class="regist_form_verify_button">
				</div>
			</div>
		</div>
	</form>
		<!-- <div class="footer">
			<div class="footer_inner">
				<div class="footer_nav">
					<ul class="footer_nav_list">
						<li class="footer_nav_content_1"><a class="footer_nav_content_a_1" href="">关于我们</a></li>
						<li class="footer_nav_content_2"><a class="footer_nav_content_a_2"  href="">加入我们</a></li>
						<li class="footer_nav_content_3"><a class="footer_nav_content_a_3"  href="">合作伙伴</a></li>
						<li class="footer_nav_content_4"><a  class="footer_nav_content_a_4" href="">广告服务</a></li>
						<li class="footer_nav_content_5"><a class="footer_nav_content_a_5"  href="">常见问题</a></li>
					</ul>
				</div>
				<div class="footer_nav_middle">
					<ul class="footer_nav_middle_list">
						<li class="footer_nav_middle_xinlang"><a class="footer_nav_middle_a_xinlang" href=""><img src="../images/xinlang_lgo.png" alt=""></a></li>
						<li class="footer_nav_middle_wechat"><a class="footer_nav_middle_a_wechat" href=""><img src="../images/weixin_logo.jpg" alt=""></a></li>
						<li class="footer_nav_middle_chrome"><a class="footer_nav_middle_a_chrome" href=""><img src="../images/liulan——logo.png" alt=""></a></li>
					</ul>
					<div style="clear: both;"></div>
				</div>
				<div class="footer_bottom_address">© 2005－2018 douban.com, all rights reserved 北京豆网科技有限公司</div>
			</div> -->

		<!-- </div> -->
	</div>

	<script>
    $(function(){

        $('.captcha').click(function(){
        console.log('click');
         $.getJSON("/captcha/refresh/",
                  function(result){
             $('.captcha').attr('src', result['image_url']);
             $('#id_captcha_0').val(result['key'])
          });});

    $('#id_captcha_1').blur(function(){
  // #id_captcha_1为输入框的id，当该输入框失去焦点是触发函数
        json_data={
            'response':$('#id_captcha_1').val(), // 获取输入框和隐藏字段id_captcha_0的数值
            'hashkey':$('#id_captcha_0').val()
        }
        $.getJSON('/ajax_val', json_data, function(data){
 //ajax发送
            $('#captcha_status').remove()
            if(data['status']){ //status返回1为验证码正确， status返回0为验证码错误， 在输入框的后面写入提示信息
                $('#id_captcha_1').after('<span id="captcha_status" ></span>')
            }else{
                 $('#id_captcha_1').after('<span id="captcha_status" ></span>')
            }
        });
    });
    })
    </script>
</body>

<script src="/static/js/regist.js"></script>
</html>