{% load static %}
{% load myfilter %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>豆瓣读书</title>
	<link rel="stylesheet" href="/static/css/font_csh.css">
	<link rel="stylesheet" href="/static/css/book_contain.css">
	<link rel="shortcut icon" href="/static/images/bitbug_favicon.ico">
	<link rel="stylesheet" href="/static/css/footer.css">
	<link rel="stylesheet" href="/static/css/header.css">

</head>
<body>
	<div class="container">
		<div class="header">
			<div class="logo_1"><a style="display: block;" href="shouye.html"><img src="/static/images/logo.png" alt=""></a></div>
			<div class="nav_menu">
				<a href=""><img src="/static/images/book_list_logo.png" alt="shouye.html"></a>
				<span class="nav_menu_word">豆瓣读书</span>
<!-- 				<ul class="nav_menu_ul">
					<li class="nav_book">豆瓣读书</li>
					<li class="nav_essey">豆瓣文章</li>
				</ul> -->

			</div>
			<div class="search_box">
				<input class="search_box_input" type="text" placeholder="请输入图书名称/作者">
				<button class="search_box_button"></button>
			</div>
			<div class="nav_log_reg">
				<span class="login"><a class="login_a" href="login.html">登录</a></span>
				<span class="registration"><a class="registration_a" href="regist.html">注册</a></span>
				<span class="personal_center"><a class="personal_center_a" href="" style="display: none;">个人中心</a></span>
				<span class="log_out"><a class="log_out_a" href=""  style="display: none;">注销</a></span>
			</div>
		</div>
		<div class="body">
			<div class="body_top">
				<div class="body_book_info">
					<div class="body_book_pic"><img src="{{ book|key:"cover" }}" alt=""></div>
					<div class="body_book_word">
						<h5 class="body_book_title">{{ book|key:"bookname" }}</h5>
						<div class="body_book_author">作者：<span>{{ book|key:"author" }}</span></div>
						<div class="body_book_publish">出版社：<span>{{ book|key:"press" }}</span></div>
						<div class="body_book_prename">
						原作名: <span>{{ book|key:"originName" }}</span></div>
						<div class="body_book_translator">译者: <span>{{ book|key:"translator" }}</span></div>
						<div class="body_book_publishyear">出版年: <span>{{ book|key:"pressTime" }}</span></div>
						<div class="body_book_pages">页数: <span>{{ book|key:"page" }}</span></div>
						<div class="body_book_price">定价: <span>{{ book|key:"price" }}</span></div>
						
					</div>
					<div class="body_book_comment">我要写评论</div>
				</div>
				
				
				<div class="body_book_grade">
					<h5 class="body_book_grade_title">豆瓣评分</h5>
					<div class="body_book_grade_count">
						<img src="/static/images/dafen.png" alt="">
						<div class="body_book_grade_count_figure">{{ book|key:"score" }}</div>
					</div>
					<div class="body_book_grade_chart">
						<ul>
							<li class="body_book_grade_chart_li">
								<span>5星</span>
								<div class="body_book_grade_draw"></div>
								<div class="body_book_grade_word" style="display: none;">{{ book|key:"star"|key:"5" }}</div>
							</li>
							<li class="body_book_grade_chart_li">
								<span>4星</span>
								<div class="body_book_grade_draw"></div>
								<div class="body_book_grade_word" style="display: none;">{{ book|key:"star"|key:"4" }}</div>
							</li>
							<li class="body_book_grade_chart_li">
								<span>3星</span>
								<div class="body_book_grade_draw"></div>
								<div class="body_book_grade_word" style="display: none;">{{ book|key:"star"|key:"3" }}</div>
							</li>
							<li class="body_book_grade_chart_li">
								<span>2星</span>
								<div class="body_book_grade_draw"></div>
								<div class="body_book_grade_word" style="display: none;">{{ book|key:"star"|key:"2" }}</div>
							</li>
							<li class="body_book_grade_chart_li">
								<span>1星</span>
								<div class="body_book_grade_draw"></div>
								<div class="body_book_grade_word" style="display: none;">{{ book|key:"star"|key:"1" }}</div>
							</li>
						</ul>
						<div class="body_book_grade_other">
							<div class="body_book_grade_love">
								<img src="/static/images/love.png" alt="">
							</div>
							<div class="body_book_grade_share">
								<img src="/static/images/share.png" alt="">
							</div>
						</div>

					</div>

				</div>
				
			</div>
			<div class="body_book_intro">
				<div class="body_book_intro_inner">
					<span class="body_book_intro_dot_1"><img src="/static/images/many_dots_3.png" alt=""></span>
					<span class="body_book_intro_word">内容简介</span>
					<span class="body_book_intro_dot_2"><img src="/static/images/many_dots_3.png" alt=""></span>
					<div class="body_book_intro_p"> {{ book|key:"introduction" }}
   					</div>
				</div>
			</div>
			<div class="body_author_intro">
				<span class="body_author_intro_dot_1"><img src="/static/images/many_dots_4.png" alt=""></span>
				<span class="body_author_intro_word">作者简介</span>
				<span class="body_author_intro_dot_1"><img src="/static/images/many_dots_4.png" alt=""></span>
{#                {% if book|key:"authorPhoto" !=  %}#}
				    <div class="book_author_pic"><img src="{{ book|key:"authorPhoto" }}" alt=""></div>
{#                {% endif %}#}
                <div class="book_author_info"> {{ book|key:"authorInfo" }}
				</div>
			</div>
			<div class="body_book_bottom">
				<!-- <div id="abc"></div> -->
				<a name="firstAnchor"></a>
				<a href="#firstAnchor"></a>

				<div class="body_book_bottom_inner">
					<span class="body_book_intro_dot_1"><img src="/static/images/many_dots_3.png" alt=""></span>
					<span class="body_book_intro_word">网友评论</span>
					<span class="body_book_intro_dot_2"><img src="/static/images/many_dots_3.png" alt=""></span>
					<div class="book_comment_nav">
						<div class="book_comment_nav_time"><a class="book_comment_nav_time_a" href="">时间</a></div>
						<div class="book_comment_nav_hot"><a class="book_comment_nav_hot_a" href="">热度</a></div>
						<div class="book_comment_nav_write"><a class="book_comment_nav_write_a" href="">我来写评论</a></div>
					</div>
					<div class="book_writecomment">
						<textarea class="book_writecomment_input" type="text" placeholder="#请在此输入文字"></textarea><!-- <input class="book_writecomment_input" type="text" -->
						<div class="book_writecomment_count"><input type="text" disabled="true" value="0"><span>/140</span></div>
						<div class="book_writecomment_login" style="display: none;">请先登录</div>
					</div>
					<div class="book_comment_pinfen">
						<span class="book_comment_pinfen_span">我要打分</span>
						<div class="total_star" style="display: none;"></div>
						<div class="book_comment_pinfen_stars">
							<ul>
								<li class="book_comment_pinfen_star"><img src="/static/images/stra.png" alt=""></li>
								<li class="book_comment_pinfen_star"><img src="/static/images/stra.png" alt=""></li>
								<li class="book_comment_pinfen_star"><img src="/static/images/stra.png" alt=""></li>
								<li class="book_comment_pinfen_star"><img src="/static/images/stra.png" alt=""></li>
								<li class="book_comment_pinfen_star"><img src="/static/images/stra.png" alt=""></li>
							</ul>
						</div>
					</div>
					<button class="book_comment_publish" type="submit">发布评论</button>
					<div style="clear: both;"></div>
					<div class="body_comment_contentout">

						{% for key,value in comment.items %}
						<ul class="body_commit_content_list" style="display: block;">
							<li class="body_comment_content">
								<div class="body_comment_content_pic"></div>
								<div class="body_comment_content_id">{{ key }}楼：{{ value|key:"username" }}</div>
								<div class="body_comment_content_time">{{ value|key:"time" }}</div>
								<div class="body_comment_star">
									<ul class="body_comment_star_list">
										<li class="body_comment_stars"><img src="{% static "images/star——3.png"%}" alt=""></li>
										<li class="body_comment_stars"><img src="{% static "images/star——3.png"%}" alt=""></li>
										<li class="body_comment_stars"><img src="{% static "images/star——3.png"%}" alt=""></li>
										<li class="body_comment_stars"><img src="{% static "images/star——3.png"%}" alt=""></li>
									</ul>
								</div>
								<div class="body_comment_content_word">{{ value|key:"content" }}</div>
								<div class="body_comment_good">
									<div class="body_comment_good_pic"><img src="{% static "images/goog.png"%}" alt=""></div>
									<span class="body_comment_good_amount">{{ value|key:"praise" }}</span>

								</div>
							</li>

						</ul>
                        {% endfor %}

					</div>
					<div class="body_bottom_page">
						<span class="last_page">上一页</span>
						<span class="first_page">首页</span>
						<span class="next_page">下一页</span>
						<div class="last_page_tip" style="display: none;">已经是最后一页啦~</div>
						<div class="first_page_tip" style="display: none;">已经是第一页啦~</div>
					</div>
				</div>
			</div>
			<div class="footer">
			<div class="footer_inner">
				<div class="footer_nav">
					<ul class="footer_nav_list">
						<li class="footer_nav_content_1"><a class="footer_nav_content_a_1" href="">关于我们</a></li>
						<li class="footer_nav_content_2"><a class="footer_nav_content_a_2"  href="">加入我们</a></li>
						<li class="footer_nav_content_3"><a class="footer_nav_content_a_3"  href="">合作伙伴</a></li>
						<li class="footer_nav_content_4"><a  class="footer_nav_content_a_4" href="">广告服务</a></li>
						<li class="footer_nav_content_5"><a class="footer_nav_content_a_5"  href="">常见问题</a></li>
					</ul>
				</div>
				<div class="footer_nav_middle">
					<ul class="footer_nav_middle_list">
						<li class="footer_nav_middle_xinlang"><a class="footer_nav_middle_a_xinlang" href=""><img src="/static/images/xinlang_lgo.png" alt=""></a></li>
						<li class="footer_nav_middle_wechat"><a class="footer_nav_middle_a_wechat" href=""><img src="/static/images/weixin_logo.jpg" alt=""></a></li>
						<li class="footer_nav_middle_chrome"><a class="footer_nav_middle_a_chrome" href=""><img src="/static/images/liulan——logo.png" alt=""></a></li>
					</ul>
					<div style="clear: both;"></div>
				</div>
				<div class="footer_bottom_address">© 2005－2018 douban.com, all rights reserved 北京豆网科技有限公司</div>
			</div>

		</div>
	</div>
</body>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/book_contain.js"></script>
</html>