{% load static %}
{% load myfilter %}
<!DOCTYPE html>
<html lang="en">
<script src="../js/jquery-3.2.1.min.js"></script>
 {% block head %}

 {% endblock %}
<body>
	<div class="container">
		<div class="header">
			<div class="logo_1"><a style="display: block;" href="/"><img src="../images/logo.png" alt=""></a></div>
			<div class="nav_menu">
				<a href="{% url 'book_list'%}"><img src="../images/book_list_logo.png" alt="shouye.html"></a>
				<span class="nav_menu_word">豆瓣读书</span>
<!-- 				<ul class="nav_menu_ul">
					<li class="nav_book">豆瓣读书</li>
					<li class="nav_essey">豆瓣文章</li>
				</ul> -->

			</div>
			<div class="search_box">
                <form action="{% url 'jump' %}" method="get">
                    <input class="search_box_input" type="text" placeholder="请输入图书名称/作者" name="searchtxt">
                    <button class="search_box_button" type="submit"></button>
                </form>
			</div>
			<div class="nav_log_reg">
                {% if request.user.is_authenticated %}
                <span class="personal_center"><a class="personal_center_a" href="/userArticleList/" >个人中心</a></span>
                <span class="log_out" ><a class="log_out_a" href="/accounts/logout/">注销</a></span>
                {% else %}
                <span class="login"><a class="login_a" href="/accounts/login/">登录</a></span>
                <span class="registration"><a class="registration_a" href="/accounts/register">注册</a></span>
                {% endif %}
            </div>
		</div>
        {% block content%}

        {% endblock %}
        <div class="footer">
                <div class="footer_inner">
                    <div class="footer_nav">
                        <ul class="footer_nav_list">
                            <li class="footer_nav_content_1"><a class="footer_nav_content_a_1" href="">关于我们</a></li>
                            <li class="footer_nav_content_2"><a class="footer_nav_content_a_2"  href="">加入我们</a></li>
                            <li class="footer_nav_content_3"><a class="footer_nav_content_a_3"  href="">合作伙伴</a></li>
                            <li class="footer_nav_content_4"><a  class="footer_nav_content_a_4" href="">广告服务</a></li>
                            <li class="footer_nav_content_5"><a class="footer_nav_content_a_5"  href="">常见问题</a></li>
                        </ul>
                    </div>
                    <div class="footer_nav_middle">
                        <ul class="footer_nav_middle_list">
                            <li class="footer_nav_middle_xinlang"><a class="footer_nav_middle_a_xinlang" href=""><img src="../images/xinlang_lgo.png" alt=""></a></li>
                            <li class="footer_nav_middle_wechat"><a class="footer_nav_middle_a_wechat" href=""><img src="../images/weixin_logo.jpg" alt=""></a></li>
                            <li class="footer_nav_middle_chrome"><a class="footer_nav_middle_a_chrome" href=""><img src="../images/liulan——logo.png" alt=""></a></li>
                        </ul>
                        <div style="clear: both;"></div>
                    </div>
                    <div class="footer_bottom_address">© 2005－2018 douban.com, all rights reserved 北京豆网科技有限公司</div>
                </div>

		    </div>
	</div>
</body>
</html>