*{
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    list-style: none;
}
  a{
    text-decoration: none;
}
li{
	list-style-type: none;
}
input{
	outline: none;
}
textarea{
	outline: none;
	border: 2px solid #D9D9D9;
	/*padding-left: 3px;*/
	/*border-radius: 3px;*/
	/*font-size: 18px;*/
}
input::-webkit-input-placeholder { /* WebKit browsers */ 
color: #C9C9C9; 
} 
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #C9C9C9; 
} 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #C9C9C9; 
} 
input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #C9C9C9; 
} 
.container{
	width: 100%;
	height: 960px;

}
.body{
	width: 100%;
	height: 960px;
	background-image: url(../images/regist_and.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-top: 1px solid white; 
	overflow: hidden;

}
.logo_2{
	width: 96px;
	height: 87px;
	margin: 0px auto;
	margin-top: 48px;
	margin-bottom: 34px;
}
h3{
	letter-spacing: 2px;
	text-align: center;
	color: #F7F7F7;
	font-size: 32px;
	font-family: myFont2;
}
.regist_form{
	width: 800px;
	height: 544px;
	
	background-color: white;
	margin:0px auto;
	margin-top: 50px;
	border:1px solid white;
}
.regist_form_login{
	width: 400px;
	height: 88px;
	line-height: 88px;
	text-align: center;
	float: left;
	color: #00A896;
	font-size: 20px;
	letter-spacing: 1px;
	background-color:rgb(240,240,240);
}
.regist_form_a_login,.regist_form_a_regist{
	color: #00A896;
}
.regist_form_regist{
	width: 400px;
	height: 88px;
	line-height: 88px;
	text-align: center;
	float: left;
	
	color: #00A896;
	font-size: 20px;
	letter-spacing: 1px;
}
.personal_change_title{
	color: #00A896;
	font-size: 23px;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 35px;
}
.regist_form_inner{
	width: 410px;
	height: 250px;
	
	margin:0px auto;
	margin-top: 49px;
}
.regist_form_name{
	position: relative;
}
.regist_form_name_input_tip{
	position: absolute;
	bottom: -19px;
	left: 90px;
	font-size: 16px;
	color: #e81a33;
	

}
.regist_form_name_word{
	width: 89px;
	height: 49px;
	line-height: 49px;
	float: left;
	margin-right: 2px;
	font-size: 20px;
	color: #00A896;
	letter-spacing: 2px;
}
.regist_form_name_input{
	height: 49px;
	width: 310px;
	border: 2px solid #D9D9D9;
	border-radius: 10px;
	font-size: 20px;
	padding-left: 4px;
	color: black;
}
.regist_form_code{
	margin-top: 36px;
	position: relative;
}
.input_code_tip{
	position: absolute;
	bottom: -19px;
	left: 95px;
	font-size: 16px;
	color: #C9C9C9;
	line-height: 26px;
}
.regist_form_code_again_input_tip{
	position: absolute;
	bottom: -25px;
	left: 95px;
	font-size: 16px;
	color: #e81a33;
	display: none;

}
.regist_form_code_again_word{
	width: 87px;
	height: 49px;
	line-height: 52px;
	float: left;
	margin-right: 2px;
	font-size: 20px;
	color: #00A896;
	margin-left: 2px;
	letter-spacing: 2px;
	line-height: 26px;
}
.regist_form_code_word{
	width: 87px;
	height: 49px;
	line-height: 52px;
	float: left;
	margin-right: 2px;
	font-size: 20px;
	color: #00A896;
	margin-left: 2px;
	letter-spacing: 2px;
	/*line-height: 26px;*/
}

.regist_form_code_input{
	height: 50px;
	width: 310px;
	border: 2px solid #D9D9D9;
	border-radius: 10px;
	font-size: 20px;
	padding-left: 4px;
	color: black;
}
.regist_form_code_word_tip{
	position: absolute;
	bottom: -20px;
	left: 95px;
	font-size: 16px;
	color: #e81a33;
	display: none;
	position: absolute;
	/*top: 0px;*/
	/*height: 0px;*/
}

.regist_form_code_again_input{
	height: 50px;
	width: 310px;
	border: 2px solid #D9D9D9;
	border-radius: 10px;
	font-size: 20px;
	padding-left: 4px;
	color: black;
}
.regist_form_verify_word{
	width: 89px;
	height: 49px;
	line-height: 49px;
	float: left;
	margin-right: 2px;
	font-size: 20px;
	color: #00A896;
	letter-spacing: 2px;
}
.regist_form_verify_input{
	height: 50px;
	width: 193px;
	border: 2px solid #D9D9D9;
	border-radius: 10px;
	font-size: 20px;
	padding-left: 4px;
	float: left;
	border-top-right-radius:0px;
	border-bottom-right-radius:0px;
	border-right:1px solid white;
	color: #C9C9C9;
}

.regist_form_verify{
	margin-top: 36px;
}
.regist_form_verify_send{
	width: 115px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	float: left;
	/*background-color: rgb(217,217,217);*/
	background-color: #02C39A;
	color: white;
	border: 2px solid rgb(217,217,217);
	border-radius: 10px;
	border-top-left-radius:0px;
	border-bottom-left-radius:0px;
	
}
.regist_form_verify_send:hover{
	cursor: pointer;
}
.regist_form_verify_button{
	width: 410px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #02C39A;
	margin: 0px auto;
	margin-top: 34px;
	font-size: 20px;
	letter-spacing: 1px;
	color: white;
	outline: none;
	border:none;
}
.regist_form_code_word_tip{

}
.personal_change_sex_word{
	color: #00A896;
	letter-spacing: 2px;
	font-size: 20px;
	width: 65px;
	height: 29px;
	float: left;
	margin-top: 20px;
}
.personal_change_sex input{
	margin-top: 27px;
	margin-left: 30px;

}
.personal_change_sex input:hover{
	cursor: pointer;
}
.personal_change_sign_word{
	color: #00A896;
	letter-spacing: 2px;
	font-size: 20px;
	width: 92px;
	height: 29px;
	/*float: left;*/
	margin-top: 35px;
}

.personal_change_sign_word textarea{
/*border: 2px solid #D9D9D9;
	border-radius: 10px;*/
	font-size: 18px;
}
.personal_change_sign_input{
	/*margin:0px auto;*/
	/*float: left;*/
	margin-left: 95px;
	width: 293px;

}
.personal_change_tou_word{
	color: #00A896;
	letter-spacing: 2px;
	font-size: 20px;
	width: 65px;
	height: 29px;
	float: left;
	margin-top: 20px;
}
.personal_change_tou input{
	margin-top: 27px;
	margin-left: 30px;

}
.personal_change_tou input:hover{
	cursor: pointer;
}